<!-- Device component -->
<style>
  textarea {
      border: none;
      overflow: auto;
      outline: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      resize: none; /*remove the resize handle on the bottom right*/
  }


  .fab-with-tooltip {
    position: absolute;
    right: 0;
    top: 0;
  }

  .deviceselected{
    border:dashed 1px #4DD0E1;

  }
  .nodeviceselected{
    border: none
  }

  .copyselected{}
  .copyselected:hover{
    color:#FFAB00
  }
  .copysuccess{
    color:green
  }
</style>
<!-- Component template-->
<template>
  <div>
    <v-card style="height:250px;width:170px;padding:1px" v-bind:class="{deviceselected:selected,nodeviceselected:!selected}">  
      <div v-if="devicemodel.iothubProvisioned===false||devicemodel.securityInformationsProvisioned===false" class="blue-grey lighten-5" style=" width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index:1;opacity :0.8"></div>
        <v-card-media
          class="white--text"
        >
          <v-container fill-height fluid class="blue lighten-3" >
            <v-layout fill-height justify-center align-center >
              <v-flex   flexbox  >
                  <img :src="require('@/assets/micro-logo.png')" style="display:block;margin:auto; height: 70px; width:70px;">
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-media>
        <v-card-title  style="margin-bottom:40px;position:relative;top:-105px">
            <div body-2 class="body-2 grey--text text--darken-1" >
              <span style="height:8px;width:8px;position:absolute;left:18px;top:124px" 
                    v-bind:class="{ green: devicemodel.connected , 
                                    red : !devicemodel.connected , 
                                    yellow: devicemodel.active===false&&devicemodel.connected===true  
                                  }"
                    class="darken-3" >
              </span>
              <span style="position:absolute;left:35px;top:117px;max-width:117px;overflow:hidden">
                {{this.devicemodel.name}}
              </span>
              <span v-if="this.devicemodel.connected" class="caption grey--text text--darken-1" style="position:absolute;left:35px;top:135px">
                <!-- {{this.devicemodel.applicationState}} -->
                Connected
              </span>
              <span v-if="!this.devicemodel.connected&&this.devicemodel.connectedAtLeastOneTime===true" class="caption grey--text text--darken-1" style="position:absolute;left:35px;top:135px">
                Disconnected
              </span>
              <span v-if="this.devicemodel.connectedAtLeastOneTime===false" class="caption grey--text text--darken-1" style="position:absolute;left:35px;top:135px">
                Not registered
              </span>
            </div>
            <v-badge  v-if="devicemodel.securityInformationsProvisioned===false" 
                      color="red" 
                      style=";position:absolute;right:17px;top:100px;z-index:2">
                <span slot="badge">!</span>
            </v-badge>
            <v-badge  v-if="devicemodel.securityInformationsProvisioned===true&&devicemodel.iothubProvisioned===false" 
                      style=";position:absolute;right:17px;top:100px;z-index:2">
                <v-icon slot="badge" dark small>done</v-icon>
            </v-badge>
        </v-card-title>
        <v-card-actions>
          <v-btn 
            v-if="devicemodel.connectedAtLeastOneTime===true" 
            fab dark color="primary" 
            style="width:35px;height:35px;margin-left:115px" 
            v-on:click="onPressDeviceDetails">
            <v-icon dark>list</v-icon>
          </v-btn>
        </v-card-actions>
        <div 
          v-if="devicemodel.connectedAtLeastOneTime===false" 
          style="background-color:white;opacity:0.5;position:relative;top:-245px;left:-1px;height:250px;width:170px;;z-index:1" 
        >
        </div>
        <div 
          v-if="devicemodel.connectedAtLeastOneTime===false"
          style="border-radius:50%;position:relative;margin-left:82px;top:-308px;left:15px;padding-top:46px;z-index:2"
          >        
          
          <v-tooltip right bottom  >
            <v-btn 
              fab dark 
              slot="activator"
              color="#D32F2F" 
              style="width:35px;height:35px;"
              v-on:click="showConnectionString" 
            >
              <v-icon dark>warning</v-icon>
            </v-btn>                          
            <span >You have 10 minutes to connect your device to the cloud, after that this device will be removed.</span>
          </v-tooltip>

        </div>
      </v-card>

      <!-- Registration methods -->
      <v-dialog 
          v-if="showConnectionStringDialog||showcredentials===true" 
          v-model="showConnectionStringDialog"  
          width="500px" 
          @click.native.stop="showConnectionStringDialog = false; " >

          <v-card>
              <v-card-title
              class="headline blue lighten-4 "
              style="color:#1976D2;"
              primary-title
              >
                  <span style="font-size:20px">Credentials for <span style="color:#E65100">{{devicemodel.name}}</span></span>
              </v-card-title>

              <v-card-text>
                <!-- Connection string  -->
                <div style="text-align:left;padding-bottom:4px;;">
                <span style="color:#616161;"><strong>1-</strong> Copy and paste device Google Cloud IoT Core connection string.</span><br>
                </div>
                <div style="text-align:right;position:relative;top:35px;right:10px;;margin-top:-20px"> 
                  <v-icon 
                    class="copyselected" 
                    v-bind:class="{copysuccess: copied}" 
                    style="height:5px;width:5px"
                    v-on:click="copyToClipboard('divClipboardConnectionString')">file_copy</v-icon>   
                </div>
                <textarea
                  style="color:#757575;padding:4px;border-style: dashed;border-width:1px;font-size: 12px;width:100%"
                  id="divClipboardConnectionString"
                  v-model="devicemodel.connectionString"
                  readonly
                >
                </textarea> 

                <!-- Root CA  -->
                <div style="text-align:left;padding-bottom:4px;margin-top:15px">
                  <span style="color:#616161;"><strong>2-</strong> Copy and paste root CA certificate(s).</span><br>
                </div>
                <div style="text-align:right;position:relative;top:90px;right:10px;;margin-top:-20px"> 
                  <v-icon 
                    class="copyselected" 
                    v-bind:class="{copysuccess: copied}" 
                    style="height:5px;width:5px;background-color:white"
                    v-on:click="copyToClipboard('divClipboardRootCA')">file_copy</v-icon>   
                </div>
                <textarea
                  style="color:#757575;border-style: dashed;font-size: 12px;padding-right:20px;padding-left:15px;border-width:1px;text-align:left;height:100px;overflow:hidden;width:100%"
                  id="divClipboardRootCA"
                  v-model="services.Settings.ComodoCert"
                  readonly
                >
                 
                </textarea> 



                <!-- Private Key  -->
                <div style="text-align:left;padding-bottom:4px;;margin-top:15px">
                  <span style="color:#616161;"><strong>3-</strong> Copy and paste device private key.</span><br>
                </div>
                <div style="text-align:right;position:relative;top:70px;right:10px;"> 
                  <v-icon 
                    class="copyselected" 
                    v-bind:class="{copysuccess: copied}" 
                    style="height:5px;width:5px;background-color:white"
                    v-on:click="copyToClipboard('divClipboardPrivateKey')">file_copy</v-icon>   
                </div>
                <textarea
                  style="color:#757575;border-style: dashed;font-size: 12px;margin-top:-20px;padding-right:20px;padding-left:15px;border-width:1px;text-align:left;height:100px;overflow:hidden;width:100%"
                  id="divClipboardPrivateKey"
                  v-model="devicemodel.privateKey"
                  readonly
                ></textarea>
                <!-- <div
                  style="color:#757575;border-style: dashed;border-width:1px;text-align:left;max-height:100px;margin-top:-20px;overflow:hidden;"
                  id="divClipboardPrivateKey"
                >
                  <div style="margin:auto;max-width:90%;overflow:hidden;font-size: 12px;">{{devicemodel.privateKey}}</div>
                </div>  -->
                <div v-if="showcredentials!==true"  style="margin-top:10px;color:#F44336;text-align:left"><strong>Note:</strong> you have 10 minutes to insert credentials from serial terminal and connect device to the cloud, after that will be removed.</div>
                
              </v-card-text>
          </v-card>
      </v-dialog>
    </div>
</template>

<!-- Component settings -->
<script>
  
  export default {
    name: "device",

    props: ['devicemodel','showcredentials'],

    data: function(){
      return {
        selected : false,
        showConnectionStringDialog: false,
        copied: false,
        
      }
    },

    watch:{
      showcredentials: function(newShowcredentials){
        console.log("[DeviceComponent] "+newShowcredentials)
        this.showConnectionStringDialog = newShowcredentials;

        console.log(this.devicemodel)
      },


    },

    methods:{
      showConnectionString: function(){
        this.showConnectionStringDialog = true;
      },

      onPressDeviceDetails : function(){
        // Launching event...
        this.$emit('devicedetailsselected',this.devicemodel)
      },
      onSelect : function(){
        this.selected = !this.selected;

        // Launching event...
        if(this.selected)
          this.$emit('deviceselected')
        else
          this.$emit('deviceunselected')
      },
      copyToClipboard : function(objId){
        let textarea = document.getElementById(objId);
        textarea.select();
        document.execCommand("copy");
        this.copied = true;
      
      }

    }
  }
</script>