<!-- Register device component-->

<!-- Component style -->
<style>
  #registrationplaceholder:hover{
    border-color:#4DD0E1;
    color :#4DD0E1;
  }
</style>

<!-- Component template-->
<template>
  <div > 
    <div    
        slot = "activator"
        id="registrationplaceholder" 
        @click="startregister = true" 
        fill-heigth="true" 
        style="border-style:dashed;border-width:2px;height:250px;width:170px;">
        <div class="display-1" style="position:relative;top:40%">+</div>
    </div>
    <!-- Registration methods -->
    <v-dialog 
        v-if="startregister" 
        v-model="startregister"  
        width="500px" 
        @click.native.stop="startregister = false" >

        <v-card>
            <v-card-title
            class="headline blue lighten-4 "
            style="color:#1976D2"
            primary-title
            >
                Create new device
            </v-card-title>

            <v-card-text style="text-align:left">
                <span style="color:#757575" >Choose your device id.</span>
                <v-text-field
                    label="  "
                    placeholder="e.g. PlutoDevice "
                    v-model = "deviceid"
                ></v-text-field>
                <!-- <v-switch
                    label="Create new device"
                    v-model="createDevice"
                ></v-switch> -->
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <div v-if="inputError==true" style="color:red;text-align:justify;margin-right:12px;">
                    <strong style="margin-right:7px">Input error:</strong> device id must be at least 4 characters length and start with a letter (only accepted: A-Z;a-z;0-9;-;_;@;#)
                </div>
                <v-btn 
                    fab dark color="primary" 
                    style="margin:10px"
                    @click="registerDevice">
                    <v-icon dark>add</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>


    </v-dialog>

  </div>
</template>

<!-- Component settings -->
<script>
import DeviceToRegister from './models/DeviceToRegister'

export default {
    name: "deviceidreader",
    data: function () {
      return {
        // Triggers opening registration dialog 
        startregister: false,
        // Device ID inserted
        deviceid : "",
        // Create device flag
        createDevice : false,
        // Label switch
        labelSwitch: "",
        // Input error
        inputError: false,
        //Input patterns
        deviceIdPattern: new RegExp("^[A-Za-z][A-Za-z0-9-_@#][A-Za-z0-9-_@#][A-Za-z0-9-_@#]+$"),
      }
    },
    
    watch:{
        startregister:function(newStartregister){
            if(newStartregister===false){
                this.deviceid="";
                this.inputError = false;
            }
        }
    },


    methods: {


        registerDevice: function(){
            
            // Check patterns
            var resCheckDeviceId = this.deviceIdPattern.test(this.deviceid);

            if(resCheckDeviceId===true){
                //// Launching event...
                var newdevice = new DeviceToRegister(this.deviceid,this.createDevice);
                this.startregister = false;
                this.$emit('onregistration', newdevice);
                console.log("device id: "+this.deviceid);
            }else{
                this.inputError = true;
                return;
            }
            this.deviceid = "";
        }
    }

  }
</script>