<!-- Telemetry device  -->

<!-- Compnent style template-->
<style>

    .deviceselected{
        border:dashed 1px #4DD0E1;

    }

    .externaldeviceselected{
        
        border:dashed 1px #FBC02D;
    }

    .nodeviceselected{
        border: none
    }

    .connecteddevice{
        /* border-width:10px;
        border-color: #2E7D32; */
        background-color: #2E7D32
    }
    .disconnecteddevice{
        /* border-width:10px;
        border-color: #C62828; */
        background-color: #C62828
    }
</style>

<!-- Component template-->
<template>
    <div >
        <v-card  v-if="placeholder===undefined" style="width:170px;padding:1px;" v-bind:class="{deviceselected:mesaureselected&&!selected,nodeviceselected:!mesaureselected,externaldeviceselected:selected}">  

            <v-card-title 
                class="regular blue  white--text" style="height:60px;;" 
                v-bind:class="{
                    'lighten-1':mesaureselected,
                    'lighten-3':!mesaureselected,
                    'blue':!selected,
                    'orange':selected,
                }" >
                <v-layout sm12>
                    <v-flex sm4 >
                        <v-icon medium 

                            style=";height:35px;width:35px;margin-left:-15px;margin-top:5px;border-radius: 50% 50%;" 
                            dark class="blue darken-4 elevation-2">memory</v-icon>
                    </v-flex>
                    <v-flex sm8 style="display:block;margin:auto;margin-left:-15px">
                        <!-- <div >{{device.userdevicename}}</div> -->
                        <div style="overflow-x:hidden;margin-top:5px;text-align:left" >{{device.name}}</div>
                        <div style="overflow-x:hidden;font-size:10px;text-align:left" >{{device.state.mac}}</div>
                    </v-flex>

                </v-layout>
            </v-card-title>
            <div 
                style="height:5px;width:100%;position:relative;right:0"
                v-bind:class="{
                    'connecteddevice':device.connected===true,
                    'disconnecteddevice':device.connected===false,
                }"
            ></div>
            <v-card-text class="caption" style="padding:0; height:180px;overflow-x:hidden">
                <div    v-for="(mesaure,index) in mesauresmodel" style="height:50px;width:100%;" 
                        v-bind:key="index"
                        v-bind:class="{
                            grey  : Math.floor(index%2)===1
                        }"
                        class="lighten-3"
                >
                    <v-layout sm12 >
                        <v-flex sm3 style="display:block;padding-left:10px;margin-top:-10px" >
                            <v-switch
                                v-on:click.native="mesaure.click(mesaure)"
                                v-model="mesaure.selected"
                            ></v-switch>
                        </v-flex>
                        <v-flex sm7 style="display:block;margin:10px;text-align:left">
                            <div >{{mesaure.name.toUpperCase()}}</div>
                            <!-- <div style="font-size:10px">({{mesaure.unit}},acc: {{mesaure.accurancy}})</div> -->
                        </v-flex>
                        <!-- <v-flex sm2 style=";padding-top:10px">
                            <img :src="require('@/assets/boards-logo/'+mesaure.path)" style="border-radius:50px;background-color:white;margin-left:1.7px;margin-top:1px;display:block; height: 17px; width:17px;padding:1px;margin-top:3px">
                        </v-flex> -->
                    </v-layout>
                </div>
            </v-card-text>
        </v-card>

        <div v-if="placeholder!==undefined" style="height:220px;width:170px;border-style: dashed;border-weight:3px;border-color:grey"></div>

    </div>
</template>

<!-- Component settings -->
<script>
    import Mesaure from './models/Mesaure'

    export default {
        // Component name
        name: "TelemetryDevice",
        // Component props
        props: ['device','placeholder','selected'],
        // Component data
        data: function(){
            return {
                mesauresmodel: [],
                mesauresselected:[],
                mesaureselected : false,
                showplacheholder: false
            }
        },
        // Component mounted hook
        mounted: function(){
            if(this.placeholder!==undefined)
                return ;
            // To remove
            this.showplacheholder |= this.placeholder;
            var description = this.device.description;
            var mesaures = null;
            for(var key in description){
                if(description[key].type==='sense'){
                    mesaures = description[key].mesaures;
                }
            }
            for(var keyname in mesaures){
                
                var mesaurename = keyname;
                var mesaureunit = mesaures[keyname].unit;
                var mesaureaccurancy = mesaures[keyname].accurancy;
                var mesauremin = mesaures[keyname].min;
                var mesauremax = mesaures[keyname].max;
                this.mesauresmodel.push({
                    name : mesaurename,
                    unit : mesaureunit,
                    accurancy : mesaureaccurancy,
                    selected: false,
                    click: this.mesaureclicked,
                    min: mesauremin,
                    max: mesauremax
                });
            }
        },
        methods:{     
            updateSelection(){
                // Update selection of mesaure state and entire device selection
                this.mesaureselected = false;
                this.mesauresmodel.forEach(function(mesaure){
                    this.mesaureselected = this.mesaureselected || mesaure.selected;
                }.bind(this));
                // \ update selection
            },
            
            // Selection of a mesaure
            mesaureclicked(mesaure){
                // Update selection device item
                setTimeout(function() { this.updateSelection(); }.bind(this), 200);
                

                // Build mesaure model 
                var commondevicename = this.device.userdevicename;
                var devicename = this.device.name;
                var mesaurename = mesaure.name;
                var unit = mesaure.unit;
                var accurancy = mesaure.accurancy;
                var min = mesaure.min;
                var max = mesaure.max;

                var mesauremodel = 
                    new Mesaure(
                        devicename,
                        mesaurename,
                        unit,
                        accurancy,
                        commondevicename,
                        max,
                        min
                    );
                // Launch event
                if(mesaure.selected===false)
                    this.$emit('unselectedmesaure',mesauremodel);
                else
                    this.$emit('selectedmesaure', mesauremodel);

            }
        }

    }

</script>