<!-- Telemetry charts -->

<!-- Compnent style template-->
<style>
    .chartnamesbar{
        padding:3px;
        height:100%;
        width:100px;
        max-width:100px;
        overflow-x:hidden;
        border-style:solid;
        float:left;
        border-style:solid;
        border-color:#E0E0E0;
        border-width:1px
    }

    .chartnameitem{
        width:100%;
        height:30px;
        color: #616161
    }

    .chartnameitemtext{
        color: #616161
    }
    .chartnameitemtextselected{
        color: white
    }

    .chartnameitemselected {
        background-color: #424242;
        border-color:#424242;
        color: #424242
    }

    .chartbody{
        height:550px;
        width:100%;
        border-style:solid;
        border-color:#424242;
        background-color:#424242;
        border-width:1px;
    }

    .slidecontainer {
        width: 100%;
        
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 8px;
        background: #1E88E5;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 8px;
        background: white;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 8px;
        background: #1E88E5;
        cursor: pointer;
    }

    .selectedwindowtime {
        background-color :#BDBDBD !important
    }
    .unselectedwindowtime{
        background-color :#757575 !important
    }

</style>

<!-- Component template-->
<template>
    <div >
        <!-- Placeholder for empty informations -->
        <!-- <div v-if="!somethingtoshow" style="height:50px;width:70%;display:block;margin:auto;padding-top:8px;margin:30px" class="caption grey lighten-3">
            <v-icon large color="blue darken-2">info</v-icon> 
                No telemetry data to show.
        </div>  -->

        <div style="width:100%;">
            <div class="chartnameitem grey--text">
                <div    v-for="(mesaureobj,index) in mesauresToShow" 
                        :key="index"
                        v-bind:class="{
                            chartnameitemselected: (mesaureobj.selected===true)
                        }"
                        class="chartnamesbar caption  elevation-2"
                        v-on:click="selectChartTab(mesaureobj.name)"
                        style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);"
                >
                <v-layout xs12>
                    <v-flex xs11><a 
                        v-bind:class="{
                            chartnameitemtextselected: (mesaureobj.selected===true),
                            chartnameitemtext: (mesaureobj.selected===false)
                        }"
                    >{{mesaureobj.name.toUpperCase()}}</a></v-flex>

                </v-layout>
                </div>
            </div>
            <div class="chartbody elevation-2" style="padding:20px;position:relative;0">

                <div style="text-align:right">
                    <v-chip 
                        label 
                        v-bind:class="{'selectedwindowtime':(selectedWindowTime===0),'unselectedwindowtime':(selectedWindowTime!==0)}"
                        v-on:click="setWindowTime(0)" 
                        text-color="white">
                        <v-icon small dark v-if="streamingOn===false">play_arrow</v-icon>
                        <v-icon small dark v-if="streamingOn===true">pause</v-icon>
                        Real-time
                        <v-progress-circular
                        v-if="streamingOn===true"
                        indeterminate
                        color="green"
                        class="lighten-5"
                        style="width:17px;margin-left:10px"
                        ></v-progress-circular>
                        <v-tooltip 
                                v-if="pollingmode===true"
                                 left
                                 >
                            <v-icon 
                                slot="activator"
                                style="margin-left:3px;"  
                                color="#FF8F00">warning
                            </v-icon>
                            
                            <div style="position:relative;;left:0">Realtime telemetry in polling-mode. <br>Check if your browser allows notifications.</div>
                        </v-tooltip>
                    </v-chip>

                    <v-chip 
                        label 
                        v-bind:class="{'selectedwindowtime':(selectedWindowTime===60),'unselectedwindowtime':(selectedWindowTime!==60)}"
                        v-on:click="setWindowTime(60)" 
                        text-color="white">
                        Last 1 h
                    </v-chip>
                    <v-chip 
                        label
                        v-bind:class="{selectedwindowtime:(selectedWindowTime===60*3),unselectedwindowtime:(selectedWindowTime!==60*3)}"
                        v-on:click="setWindowTime(60*3)" 
                        text-color="white">
                        3 h
                    </v-chip>
                    <v-chip 
                        label 
                        v-bind:class="{selectedwindowtime:(selectedWindowTime===60*6),unselectedwindowtime:(selectedWindowTime!==60*6)}"
                        v-on:click="setWindowTime(60*6)" 
                        text-color="white">
                        6 h
                    </v-chip>
                    <v-chip 
                        label 
                        v-bind:class="{selectedwindowtime:(selectedWindowTime===60*12),unselectedwindowtime:(selectedWindowTime!==60*12)}"
                        v-on:click="setWindowTime(60*12)" 
                        text-color="white">
                        12 h
                    </v-chip>
                </div>
                <!-- Chart -->
                <!-- <chart  idchart="chart1" :mesaures="chartData"  style="width:100% ;" ></chart> -->
                <div style="background-color:#EEEEEE;height:400px;" class="elevation-2">
                    <v-progress-circular
                        v-if="isfetching===true" 
                        style="top:150px"
                        :size="50"
                        color="primary"
                        indeterminate
                    ></v-progress-circular>
                    <GChart 
                        v-if="isfetching===false" 
                        style="position:relative;;height:400px;background-color:white;"
                        type="LineChart"
                        :settings="{packages: ['corechart','line']}"   
                        :data="chartData"
                        :options="options"
                    />
                    <div 
                        v-if="chartData[1][0]==''&&isfetching===false"
                        style="height:400px;z-index:1;top:-100%;background-color:#EEEEEE;position:relative;opacity:0.65;">
                        <span style="top:40%;position:relative;margin-top:0;">No data to show in chart.</span>
                    </div>
                </div>
                <!-- \Chart -->

                <!-- Window time slider 
                <div style="margin-top:18px;position:absolute;bottom:10px;width:95%;">                
                    <v-layout row wrap  >
                        <v-flex xs12>
                            <div style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);position:relative;">
                                <input 
                                    class="slider"  
                                    type="range" 
                                    prepend-icon="alarm"
                                    :min="0"
                                    :max="globalWindowStart-globalWindowEnd" 
                                    v-model="sliderState" >
                            </div>
                        </v-flex>
                    </v-layout>
                </div>
                Window time slider  -->
            </div>
        </div>
    </div>
</template>

<script>
import Device from '@/models/Device'
import ChartsState from './models/ChartsState'
import MesauresRequest from './models/MesauresRequest'
import { GChart }   from 'vue-google-charts'
import ChartData from '@/components/models/ChartData'
import { inspect } from 'util';

export default {
    // Component name
    name: "TelemetryCharts",
    // Components dependency
    components: {
        GChart
    },
    // Component properties
    props: ["mesauremodels","telemetrydatamodel","pollingmode","isfetching"],
    // Component data
    data: function(){
        return{



            // Selected mesaure name
            selectedMesaureName: null,
            // Mesaures to show
            mesauresToShow: [],
            // Formatted data for chart
            chartData: [[],[]],
            options:{
                    interpolateNulls: true,
                chart:{
                    interpolateNulls: true
                },
                pointSize: 2,
                theme:"material",
                legend: { position: 'top' } ,
                chartArea: {
                    height:"90%",
                    width:"90%",
                },
                vAxis: {
                    viewWindowMode: 'pretty',
                    viewWindow: {

                    }
                },
                hAxis:{
                    viewWindow: {
                        min: undefined,
                        max: undefined
                    },
                    viewWindowMode:'explicit',
                    viewWindow: {
  
                    }                   
                }
            },
            // Selected time window
            lastRefreshCurrentTime : new Date(),
            selectedWindowTime : 60,

            // Debounced mesaures request function
            sendMesaureRequestDebounced : null,
            
            // Streaming fetching
            streamingOn: false,
            // Fetching in process
            fetching : false

        }
    },
    // Component computed
    computed:{
        // Mesaures to render
        mesaures: {
            get: function(){
                var mesaures = this.standardizeMesaures(this.mesauremodels);
                return mesaures;
                //return this.mesauremodels;
            },
            set: function(newmesaures){
                // nothing to do..
                this.mesaures = newmesaures;
            }
        },
        // // For view
        // startTstr: function(){
        //     console.log("ciao");
        //     return this.mesaureWindowStartString.substring(0,8);
            
        // },
        // endTstr: function(){

        //     return this.mesaureWindowEndString.substring(0,8); 
        // },
        // startDstr: function(){

        //     return this.mesaureWindowStartString.substring(8,this.mesaureWindowStartString.length);
        // },
        // endDstr: function(){

        //     return this.mesaureWindowEndString.substring(8,this.mesaureWindowStartString.length);
        // },
    },

    // Component created hook
    created: function(){
        /* Init data structures : window time*/ 
        //this.setGlobalWindow();
        //this.setCurrentWindow();
        /* Init data structures : mesaure models */
        this.mesauresToShow = this.standardizeMesaures(this.mesauremodels);
        this.sendMesaureRequestDebounced =this.sendMesaureRequest;// _.debounce(this.sendMesaureRequest, 1000);
        this.setWindowTime(60);
        
    },

    // Component watchers
    watch:{
        // Component initialization at first creation
        mesauremodels: function(newmesauremodels,oldmesauremodels){

            // Stop fetching process: started by sendMesaureRequest
            this.fetching = false

            // At first creation define selected meseaure 
            //this.selectedMesaureName = newmesauremodels[0].mesaurename;

            if(this.selectedMesaureName == null )
            {
                this.selectChartTab(newmesauremodels[0].mesaurename);
            }else{
                this.selectChartTab(null);
            }

            newmesauremodels[0].selected = true;
            this.mesauresToShow = this.standardizeMesaures(newmesauremodels);
            this.updateChartData();
        },
        // For live updating of mesauremodels prop
        mesaures: function(newmesaures,oldmesaures){
            this.mesauresToShow = newmesaures;
            // TODO: 
            // Overhead request : in theory we have to select only new mesaures if any..
            // need to do a difference with new/old devices and mesaures      
            //this.sendMesaureRequestDebounced();
        },

        // Slider state monitor
        sliderState : function(newSliderStateValue){
            //console.log("[TelemetryCharts::watch::sliderstate] Slider state:" + newSliderStateValue);
            this.sliderState = Number(newSliderStateValue);
            this.setCurrentWindow();
            this.sendMesaureRequestDebounced();
        },
        // Telemetry data monitor
        telemetrydatamodel : function(){
            //if(this.fetching===true||this.streamingOn===true)
                // Log
                this.updateChartData();
            // Stop fetching process: started by sendMesaureRequest
            this.fetching = false
        }
        // // View informations
        // mesaureWindowStartString: function(newdata){
            
        //     this.startTstr = newdata.substring(0,8);
        //     this.startDstr = newdata.substring(8,this.mesaureWindowStartString.length);
        // },
        // mesaureWindowEndString: function(){
        //     if(this.mesaureWindowEndString==null){
        //         this.startTstr = "";
        //         this.startDstr = "";
        //     }
        //     this.endTstr = this.mesaureWindowStartString.substring(0,8);
        //     this.endDstr = this.mesaureWindowStartString.substring(8,this.mesaureWindowEndString.length);
        // }

    },
    // Component computed
    computed:{
        // Mesaures to render
        mesaures: {
            get: function(){
                var mesaures = this.standardizeMesaures(this.mesauremodels);
                return mesaures;
                //return this.mesauremodels;
            },
            set: function(newmesaures){
                // nothing to do..
                this.mesaures = newmesaures;
            }
        },
        // Convert chart options for material design chart
        chartOptions () {
            if (!this.chartsLib) return null
            return this.chartsLib.charts.Line.convertOptions(this.options)
        }
    },

    // Component method
    methods:{
        /* Logic methods*/
        // Set current window time method 
        setWindowTime(lastminutes,callFromChartTab){
            var copyStramingOn = this.streamingOn;

            if(this&&lastminutes===0&&copyStramingOn===false){
                
                //if(!callFromChartTab)
                {
                    this.options.hAxis.viewWindow.min = undefined;
                    this.options.hAxis.viewWindow.max = undefined;

                    this.lastRefreshCurrentTime = new Date(); 
                    // this.options.hAxis.minValue = new Date(this.lastRefreshCurrentTime)//this.lastRefreshCurrentTime.getTime()-this.selectedWindowTime*10*1000);
                    // this.options.hAxis.maxValue = new Date(this.lastRefreshCurrentTime)//this.lastRefreshCurrentTime.getTime()-this.selectedWindowTime*10*1000);

                    this.selectedWindowTime = lastminutes;
                    this.streamingOn = true;
                }
                //this.sendMesaureRequest(true);
                //return;
            }else if(this&&lastminutes===0&&copyStramingOn===true)
            {
                this.streamingOn = false;
                this.selectedWindowTime = lastminutes;
                //this.sendMesaureRequest(false);
                //return;
            }else{
                // Stop realtime if enabled
                if(this.selectedWindowTime===0&&this.streamingOn===true){
                    this.streamingOn = false;
                    this.selectedWindowTime = lastminutes;
                    //this.sendMesaureRequest(false);
                    setTimeout(
                        function(){
                            //this.setWindowTime(lastminutes)
                        }.bind(this),
                        100
                    );
                    //return;
                }else{


                    this.streamingOn = false;
                    this.selectedWindowTime = lastminutes;
                    this.lastRefreshCurrentTime = new Date(); 
                    
                    // this.options.hAxis.minValue = new Date(this.lastRefreshCurrentTime.getTime()-this.selectedWindowTime*60*1000);
                    // this.options.hAxis.maxValue = this.lastRefreshCurrentTime;

                    // this.options.hAxis.viewWindow.min = new Date(this.lastRefreshCurrentTime.getTime()-this.selectedWindowTime*60*1000);
                    // this.options.hAxis.viewWindow.max = this.lastRefreshCurrentTime;
                    this.options.hAxis.viewWindow.min = undefined;
                    this.options.hAxis.viewWindow.max = undefined;
                    
                    //this.sendMesaureRequest();
                }
            }
            this.sendChartsState();            
        },

        // Throw an request data event with payload MesaureRequest asking
        // for to application to fetch telemetry data
        sendMesaureRequest: function(realtime){
            // Start fetching : chaginh on telemetry model will stop fetching process
            this.fetching = true;

            var devicenames = [];
            var mesaurename = this.selectedMesaureName;
            // TODO: check if need to exchange parameters
            //var windowstart = this.mesaureWindowStart;
            //var windowend = this.mesaureWindowEnd;
            this.mesauremodels.forEach(
                function(mesaure){
                    if(mesaure.mesaurename === mesaurename){
                        devicenames.push(mesaure.devicename);
                    }
                }
            );
 
            var mesaurerequest = null;
            if(realtime===true||realtime===false){
                // build event payload
                mesaurerequest = new MesauresRequest(
                    devicenames,
                    mesaurename,
                    0,
                    0,
                    realtime
                );
                this.telemetrydatamodel = [];
                this.fetching = false;
            }else{
                // build event payload
                mesaurerequest = new MesauresRequest(
                    devicenames,
                    mesaurename,
                    (new Date(this.lastRefreshCurrentTime.getTime()-this.selectedWindowTime*60*1000)).toISOString(),
                    this.lastRefreshCurrentTime.toISOString()
                );
            }

            // throw event 
            this.$emit('requestfordata',mesaurerequest);
        },

        // Update chart data data structure
        onChartReady (chart, google) {
            //this.chartsLib = google
        },

        updateChartData : function(){
            this.chartData = [];
            // Definition dimensions and x
            var adi = [];
            this.chartData.push([]);
            this.chartData[0].push("");
            var i = 1;
            // for(var index in this.telemetrydatamodel){
            //     var devicename = this.telemetrydatamodel[index].devicename;
                
            //     if(adi[devicename]===undefined){
            //         this.chartData[0].push(devicename);
            //         adi[devicename] = i;
            //     }
            //     i++;
            // }
            // TODO: move in mesaureToShow watcher
            // for(var mi in this.mesauresToShow){           
            //     if(this.mesauresToShow[mi].name===this.selectedMesaureName)
            //     {

            //         for(var di in this.mesauresToShow[mi].devices){
            //             this.chartData[0].push(di);
            //             adi[di] = i; 
            //             i++;
            //             mesaureNames[di]=true
            //         }
            //         break;
            //     }
            // }
            var asdi = []
            for(var mi in this.mesauresToShow){           
                if(this.mesauresToShow[mi].name===this.selectedMesaureName)
                {

                    for(var di in this.mesauresToShow[mi].devices){
                        // this.chartData[0].push(di);
                        asdi[di] = true;
                        // mesaureNames[di]=true
                    }
                    break;
                }
            }

            for(var index in this.telemetrydatamodel){
                var telemetrydata = this.telemetrydatamodel[index];
                var devicename = telemetrydata.devicename;
                if(telemetrydata.data[this.selectedMesaureName]!=undefined)
                {
                    if(adi[devicename]==undefined&&asdi[devicename]!=undefined){

                        this.chartData[0].push(devicename);
                        adi[devicename] = i; 
                        i++;
                    }
                }              
            }
            //Log
            // console.log("[TelemetryCharts::updateChartData]")
            // console.log(this.chartData);
            // Definition arrays

            var ats= []
            for(var index in this.telemetrydatamodel){
                
                var telemetrydata = this.telemetrydatamodel[index];
                
                var devicename = telemetrydata.devicename;
                var ts = telemetrydata.time;

                // Ignore if device is not selected
                if(adi[devicename]===undefined) continue;

                if(ats[ts]===undefined){
                    ats[ts] = [];
                    ats[ts][adi[devicename]]=telemetrydata.data[this.selectedMesaureName];
                }else{
                    ats[ts][adi[devicename]]=telemetrydata.data[this.selectedMesaureName];
                }
                for(var i in this.chartData[0]){
                    //if(i==0||this.chartData[0][i]===devicename){
                    //    continue;
                    //}
                    //ats[ts][adi[this.chartData[0][i]]] = null;
                    if(
                        i==0                                ||
                        this.chartData[0][i]===devicename   ||
                        (   ats[ts][adi[this.chartData[0][i]]]!=undefined   &&
                            ats[ts][adi[this.chartData[0][i]]]!=null
                        )
                    ){
                        continue;
                    }
                    ats[ts][adi[this.chartData[0][i]]] = null;
                }

                ats[ts][0] = ts;
            }

            // console.log("[TelemetryCharts::updateChartData]")
            // console.log(ats);

            // Copy arrays with push method
            for(var index in ats){
                var values = ats[index];
                var cvalues = [];
                var i = 0
                for(var vi in values)
                    if((i++)==0)
                        cvalues.push(new Date(values[vi]));
                    else
                        cvalues.push(values[vi]);
                this.chartData.push(cvalues); 

            }
            this.chartData.sort(function(a,b){
                // Turn your strings into dates, and then subtract them
                // to get a value that is either negative, positive, or zero.
                return new Date(b[0]) - new Date(a[0]);
            });

            // console.log(this.chartData)
            if(this.chartData.length===1){
                this.chartData[0] = [];
                this.chartData[0].push('');
                this.chartData[0].push("dummy");
                this.chartData[1] = [];
                this.chartData[1].push('');
                this.chartData[1].push(0);
            }else{
            }




        }, 


        /* \ Logic methods */ 

        /* View and settings method */ 
        // Select tab by setting field selected
        selectChartTab: function(mesaurename){

            
            if(mesaurename!==this.selectedMesaureName&&mesaurename!=null){
                this.selectedMesaureName = mesaurename;    
                for(var mesaureindex in this.mesauresToShow)
                {
                    this.mesauresToShow[mesaureindex].selected = false;
                    if(this.mesauresToShow[mesaureindex].name === mesaurename){
                        this.mesauresToShow[mesaureindex].selected = true;
                        // Update chart data options
                        // this.options.vAxis.viewWindow.min = this.mesauresToShow[mesaureindex].min;
                        // this.options.vAxis.viewWindow.max = this.mesauresToShow[mesaureindex].max;
                        this.options.vAxis.minValue = this.mesauresToShow[mesaureindex].min;
                        this.options.vAxis.maxValue = this.mesauresToShow[mesaureindex].max;  
                    }
                }
                this.setWindowTime(this.selectedWindowTime,true);
                //this.sendChartsState();
                // Fetch data.
                //this.sendMesaureRequestDebounced();
            }
        },

        // Send chart state
        sendChartsState: function(){
            var state = new ChartsState(
                this.selectedWindowTime,
                this.selectedMesaureName,
                this.streamingOn
            );
            this.$emit("newchartsstate",state);
        },
        // // Set global actual window time
        // setGlobalWindow: function(){
        //     var now = new Date();
        //     var time =  now.getTime();
        //     this.globalWindowStart = Number(time);
        //     this.globalWindowEnd = this.globalWindowStart-(this.settings.slotTimeNumber*this.settings.slotTimeWidth)*60*1000;
        //     //this.sliderState = this.globalWindowStart-this.globalWindowEnd;
        // },
        // // Update all parameters based on settings
        // setCurrentWindow: function(){
        //     this.mesaureWindowStart = this.globalWindowEnd+this.sliderState;
        //     this.mesaureWindowEnd = this.globalWindowEnd+(this.sliderState-(this.settings.slotTimeWidth*this.zoom*60*1000));

        //     if(this.mesaureWindowStart>this.globalWindowStart)
        //         this.mesaureWindowStart = this.globalWindowStart;
        //     if(this.mesaureWindowEnd<this.globalWindowEnd)
        //         this.mesaureWindowEnd = this.globalWindowEnd;

        //     this.mesaureWindowStartString = this.millistodateconverter(this.mesaureWindowStart);
        //     this.mesaureWindowEndString = this.millistodateconverter(this.mesaureWindowEnd);  

        //     /* FIXME : To remove and put in watchers/computed properties */   
        //     this.endTstr = this.mesaureWindowEndString.substring(0,8);
        //     this.endDstr = this.mesaureWindowEndString.substring(8,this.mesaureWindowEndString.length);
        //     this.startTstr = this.mesaureWindowStartString.substring(0,8);
        //     this.startDstr = this.mesaureWindowStartString.substring(8,this.mesaureWindowStartString.length);
        // }, 
        // // Update settings and update window timeì
        // reloadWindow: function(){

        //     var oldglobalWindowEnd = this.globalWindowEnd;
        //     var oldglobalWindowStart = this.globalWindowStart;
        //     this.setGlobalWindow();
                
        //     if(this.mesaureWindowEnd<this.globalWindowEnd){
        //         this.mesaureWindowStart = this.mesaureWindowStart+this.globalWindowEnd-this.mesaureWindowEnd;
        //         this.mesaureWindowEnd = Number(this.globalWindowEnd);
        //     }

        //     this.mesaureWindowStartString = this.millistodateconverter(this.mesaureWindowStart);
        //     this.mesaureWindowEndString = this.millistodateconverter(this.mesaureWindowEnd);

        //     if(this.sliderState+this.globalWindowEnd<this.globalWindowStart){
        //         this.settings.reloadingtimeouthandler = setTimeout(this.reloadingwindow,this.settings.timeout);
        //         return;
        //     }

        //     this.sliderState = this.globalWindowStart-this.globalWindowEnd;
        //     this.setCurrentWindow();
        //     //this.settings.reloadingtimeouthandler = setTimeout(this.reloadingwindow,this.settings.timeout);
        // },
        // // Scroll zoom util function
        // scrollZoom: function(){

        // },
        // Standardize mesaures
        standardizeMesaures: function(mesauremodels){
            var mesaures = [];
            var mesaurescopy = [];
            for(var mesaureindex in mesauremodels){
                var mesaure = mesauremodels[mesaureindex];
                var mesaurename = mesaure.mesaurename;
                var commondevicename = mesaure.commondevicename;
                var devicename = mesaure.devicename;
                var unit = mesaure.unit;
                var max = mesaure.min;
                var min = mesaure.max;
                var deviceaccurancy = mesaure.accurancy;
                var selected = false;
                if(this.selectedMesaureName===null||(mesaurename===this.selectedMesaureName)){
                    selected = true;
                    this.selectedMesaureName = mesaurename;
                }

                if(mesaurescopy[mesaurename]===undefined){
                    
                    // Build mesaure descriptor
                    var mesauretoshowobj= {};
                    mesauretoshowobj.name = mesaurename;
                    mesauretoshowobj.unit = unit;
                    mesauretoshowobj.min = max;
                    mesauretoshowobj.max = max;
                    mesauretoshowobj.selected = selected;
                    // Add device descriptor to mesaure
                    mesauretoshowobj.devices = {};
                    mesauretoshowobj.devices[devicename] = {   
                        // Device data : key- instant time; value: data value
                        data: [],   
                        // Accurancy mesaure field
                        accurancy : deviceaccurancy,
                        // Common devicename
                        commondevicename: commondevicename,
                    }
                    mesaures.push(mesauretoshowobj);
                    // Create temporany copy to modify after 
                    mesaurescopy[mesaurename] = mesauretoshowobj;
                }else{
                    // Selected
                    mesaurescopy[mesaurename].selected = selected;
                    // Add device descriptor to mesaure
                    mesaurescopy[mesaurename].devices[devicename] = {   
                        // Device data : key- instant time; value: data value
                        data: [],   
                        // Accurancy mesaure field
                        accurancy : deviceaccurancy,
                        // Common devicename
                        commondevicename: commondevicename,
                    }
                }
            }
            // Log
            
            // console.log("[TelemetryCharts::standardizeMesaures]")
            // console.log(mesaures);
            return mesaures;            
        },
        // // Millis to date converter
        // millistodateconverter: function(millis){
        //     const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];

        //     var date = new Date(millis);
                
        //     var y =  date.getFullYear();
        //     var mo = monthNames[date.getMonth()].substring(0,3)
        //     var d = date.getDate()
               
        //     var h = date.getHours()
        //     var mi = date.getMinutes()
        //     var s = date.getSeconds()
        //     h = ('0' + h).slice(-2);
        //     mi=('0' + mi).slice(-2);
        //     s = ('0' + s).slice(-2);
        //     return h+":"+mi+":"+s+" "+d+" "+mo+" "+y;
        // },   
    }
}
</script>
