<!-- Device details component for routing-->

<!-- Compnent style template-->
<style>
.controlbaritem{
  padding:10px;
  max-width:50px;
  min-height:50px;
  display: block;
  float:right;
}

.centered-input input {
  text-align: center
}
/* .controlbaritem:hover{
  background-color:#FFF176
} */

</style>

<!-- Component template-->
<template>
  <v-app class=" device-details-wrap" style="margin-top:0;position:relative" >

      <!-- Placeholder -->
      <v-flex v-if="devicemodel==null" d-flex xs12 sm12 child-flex>
          <v-progress-linear :indeterminate="true" style="position:absolute;top:40%;;width:100px;left:200px"></v-progress-linear>
          <!-- <v-progress-circular indeterminate :size="50"  color="primary" style="position:absolute;top:30%;left:225px"></v-progress-circular> -->
      </v-flex>

      <v-layout v-if="devicemodel!=null&&devicemodel!=undefined" row wrap style ="max-height:100px">
        
      <!-- Header device details-->

      <!-- Name and registration time device-->
      <v-flex d-flex xs12 sm12 style="margin-top:20px;">
        <v-card  tile flat class="elevation-2 blue lighten-2"   >
          <v-card-text>
            <v-icon style="float:left;margin:auto; margin-top:-5px;height: 70px; width:70px;border-radius: 50% 50%;" class="blue darken-3 elevation-1" large dark>memory</v-icon>
            <div class="title"  style="margin: 10px 0 0 0;text-align:left;max-width:300px;overflow:hidden">
              <span style="color:#F5F5F5;margin-left:15px;" >{{devicemodel.name}}</span>
            </div>
            <div class="body-1 " style="text-align:left;margin:5px ;max-width:300px;overflow-x:hidden">
              <span style="color:#F5F5F5;margin-left:15px;">{{devicemodel.state.mac}}</span>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <!-- Info device-->
      <v-flex d-flex xs12 sm12 style="margin-top:20px">
        <v-card  tile flat class="elevation-1" >
          <v-card-text >
            <!-- FW -->
            <v-layout row wrap style="margin:10px" >
              <v-flex d-flex xs1 sm1></v-flex>
              <v-flex d-flex xs4 sm4 style="margin:auto;">
                <span style="color:#757575;text-align:left">Firmware:</span>
              </v-flex>
              <v-flex d-flex xs6 sm6 style="margin:auto">
                <span style="color:#757575;font-weight: bold;text-align:left">{{device.state["FW version"]}}</span>
              </v-flex>
            </v-layout>
            <!-- Telemetry interval -->
            <v-layout row wrap style="margin:10px">
              <v-flex d-flex xs1 sm1></v-flex>
              <v-flex d-flex xs4 sm4 style="margin:auto">
                <span style="color:#757575;text-align:left;">Telemetry interval:</span>
              </v-flex>
              <v-flex d-flex xs6 sm6 style="margin:auto">
                <v-flex d-flex xs5 sm5 style="">
                  <!-- device.state.TelemetryInterval -->
                  <v-text-field
                      v-model="telemetryIntervalCopy"
                      class="mt-0 centered-input"
                      hide-details
                      single-line
                      :min="5"
                      style="padding-top:0;"
                      type="number"
                  ></v-text-field>
                  <span style="color:#757575;text-align:left;font-weight: bold;margin:auto;margin-left:10px"> sec </span>
                  
                </v-flex>

              </v-flex>
            </v-layout>
            <!-- MAC interval -->
            <v-layout row wrap style="margin:10px">
              <v-flex d-flex xs1 sm1 ></v-flex>
              <v-flex d-flex xs4 sm4 style="margin:auto">
                <span style="color:#757575;text-align:left">MAC:</span>
              </v-flex>
              <v-flex d-flex xs6 sm6 style="margin:auto">
                <span style="color:#757575;text-align:left;font-weight: bold">{{device.state.mac}}</span>
              </v-flex>
            </v-layout>

            <v-layout  xs12 sm12 row wrap style="margin-top:10px">
              <v-flex d-flex xs10 sm10 ></v-flex>
              <v-flex d-flex xs2 sm2 >
                <v-btn v-on:click="saveState" style="max-width:40px;max-height:40px" fab dark color="blue" class="darken-2">
                  <v-icon dark>save</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- \ Info device -->

      <!-- Network status -->
      <v-flex d-flex xs12 sm12 style="margin-top:20px">
        <v-card  tile flat class="elevation-1" >
          <v-card-text >
            <v-layout row wrap>
              <v-flex d-flex xs3 sm3 >
                <v-icon medium>network_wifi</v-icon>
              </v-flex>
              <v-flex d-flex xs1 sm1 style="margin:auto">
                <span style="color:#757575;text-align:left">Connected</span>
              </v-flex>
              <v-flex d-flex xs8 sm8 style="margin:auto">
                <div style="max-height:10px;max-width:10px;position:relative;left:50%" 
                    v-bind:class="{ green: device.connected , 
                                    red : !device.connected  
                                  }"
                    class="darken-3" >
                    <span style="padding-left:20px;color:#757575;position:relative;top:-4px">{{device.connected}}</span>
              </div>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- \ Network status -->

      <!-- Control device-->
      <v-flex d-flex xs12 sm12 style="margin-top:20px">
        <v-card  tile flat class="elevation-1" >
          <v-card-text >
            <v-layout row wrap xs12 sm12>
              <v-flex d-flex xs3 sm3 >
                <v-icon medium>highlight</v-icon>
              </v-flex>
              <v-flex d-flex xs1 sm1 style="margin:auto">
                <span style="color:#757575;">Led</span>
              </v-flex>
              <v-flex d-flex xs8 sm8 style="margin:auto">
                <v-switch
                  style="margin-left:50%"
                  :label="`${ledOnStr.toString()}`"
                  v-model="ledOn"
                  
                ></v-switch>
              </v-flex>
            </v-layout>
            <v-layout row wrap xs12 sm12>
              <v-flex d-flex xs3 sm3 >
                <v-icon medium>history</v-icon>
              </v-flex>
              <v-flex d-flex xs1 sm1 style="margin:auto;margin-left:7px">
                <span style="color:#757575;">Reboot</span>
              </v-flex>
              <v-flex d-flex xs6 sm6 style="margin:auto">
                <v-btn flat icon color="primary" style="margin:auto;max-width:30px;max-height:30px;" v-on:click="reboot(true)">
                  <v-icon>cached</v-icon>
                </v-btn>               
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- \ Control device -->

      <!-- credentials device-->
      <v-flex d-flex xs12 sm12 style="margin-top:20px">
        <v-card  tile flat class="elevation-1" >
          <v-card-text >
            <v-layout row wrap>
              <v-flex d-flex xs3 sm3 >
                <v-icon medium>cloud</v-icon>
              </v-flex>
              <v-flex d-flex xs1 sm1 style="margin:auto;text-align:left;;margin-left:7px">
                <span style="color:#757575;">Credentials</span>
              </v-flex>
              <v-flex d-flex xs6 sm6 style="margin:auto">
                <v-btn icon  style="margin:auto;max-width:30px;max-height:30px" v-on:click="showCredentials">
                  <v-icon color="blue">arrow_forward_ios</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- \ credentials device -->

      <!-- Tab headers -->
      <!-- <v-tabs  dark height="30px" color="blue lighten-1" style="width:100%;">
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-layout sm12>
            <v-flex d-flex sm12 sm3>
              <v-tab v-on:click.native="goToDeviceDetailsTab('overview')" >
                  <span class="caption">Overview</span>
              </v-tab>
            </v-flex>
            <v-flex d-flex sm12 sm3>
              <v-tab v-on:click.native="goToDeviceDetailsTab('control')" >
                  <span class="caption">Control</span>
              </v-tab>
            </v-flex>
            <v-flex d-flex sm12 sm3>
              <v-tab v-on:click.native="goToDeviceDetailsTab('configuration')" >
                  <span class="caption">Configuration</span>
              </v-tab>
            </v-flex>
            <v-flex d-flex sm12 sm3>
              <v-tab v-on:click.native="goToDeviceDetailsTab('twin')" >
                  <span class="caption">Twin</span>
              </v-tab>
            </v-flex>
          </v-layout>
      </v-tabs> -->
      <!-- \ Tab headers-->

      <!-- Tab content-->
      <!-- <v-slide-x-transition>
        <router-view v-if="devicemodel!==null" :device="devicemodel"></router-view>
      </v-slide-x-transition> -->
      <!-- \ Tab content-->     

    </v-layout>

    <!-- Information/Alert panel -->
    <v-snackbar
      v-model="showInfoPanel"
      :multi-line="true"
      :top="true"
      :color="colorInfoPanel"
    >
      <span style="font-weight:bold">{{ textInfoPanel }} </span>
      <v-btn
        color="White"
        flat
        @click="showInfoPanel = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <!-- Background -->
    <div
      v-if="showInProgressPanel===true"  
      style="background-color:black;opacity:0.7;position:absolute;top:0;bottom:0;left:0;right:0;z-index:20">
    </div>

    <!-- Operation in progress panel -->
    <v-progress-circular
      v-if="showInProgressPanel===true"
      style="position:absolute;top:45%;z-index:21;left:50%"
      :width="3"
      :size="50"
      color="red"
      indeterminate
    ></v-progress-circular>

  </v-app>
</template>

<!-- Component settings -->
<script>
  import DeviceService from '@/services/DeviceService';
  import RegistrationDeviceService from '@/services/RegistrationDeviceService';
  import Device from '@/models/Device'
  

  // Registration device service - FIXME: inject at app level 
  const registrationService = new RegistrationDeviceService();
  const deviceService = new DeviceService();
  export default {
    // Component name
    name: "DeviceDetails",

    // Components dependency
    components: {
    },

    // Component properties
    props : ["device"],

    // Component data
    data: function () {
      return {
        //devicemodel : null,
        timeout : 3000,
        alerttimeout: 2000,
        devicename : null,
        ledOn: null,
        ledOnStr: "Off",
        startSet: true,
        resetState : false,
        telemetryIntervalCopy: 0,
        // Info panel
        textInfoPanel : "",
        showInfoPanel : false,
        timeoutInfoPanel : 20000,
        colorInfoPanel:"",
        showInProgressPanel:false

      }
    },
    
    // Component created hook
    created: function () {
      // `this` points to the vm instance
      //console.log("Created hook userdevices component called.");
      // Set device name of this view
      this.devicename = this.$route.params.id;
      this.devicemodel = this.device;
      this.ledOn = this.devicemodel.state.LedOn;
      this.startSet = true;
      this.telemetryIntervalCopy = this.devicemodel.state.TelemetryInterval
      //this.fetchDeviceDetails();
    },
    // Component mounted hook
    mounted: function(){

      // Default tab
      //this.goToDeviceDetailsTab('overview');
    },
    
    // Component computed properties
    computed: {
      devicemodel: {
        get: function () {
          // Update indirect settings
          this.telemetryIntervalCopy = this.device.state.TelemetryInterval;
          return this.device;
        },
        set: function(newdevice){
          // nothing to do
        }
      }
    },

    // Component watched properties
    watch:{
      ledOn: function(newLedOn,oldLedOn){
        if(newLedOn===true)
        {
          this.ledOnStr = "On";
        }else{
          this.ledOnStr = "Off";
        }
        if(this.resetState===false&&this.startSet===false){

          this.switchLed();
        }else{
          this.resetState = false;
          this.startSet = false;
        }
      },
      
      telemetryIntervalCopy: function(newTelemetryIntervalCopy){
        // if(newTelemetryIntervalCopy>=5){
        //   this.devicemodel.state.TelemetryInterval = newTelemetryIntervalCopy;  
        // }else{
        //   setTimeout(function(){this.telemetryIntervalCopy = 5;}.bind(this),100);
        // }
      }
    },

    // Component methods
    methods:{

      switchLed: function(){
        var successCallback = function(){
          this.textInfoPanel = "Led updated."
          this.showInfoPanel = true;
          this.colorInfoPanel = "green"  
          this.showInProgressPanel = false;    
          // Nothing to do...
        }.bind(this);
        var errorCallback = function(){
          // TODO: Notify
          // Reset led status
          this.resetState = true;
          this.ledOn != this.ledOn;  
          this.showInProgressPanel = false;
          this.textInfoPanel = "Led updating failed."
          this.colorInfoPanel = "red"
          this.showInfoPanel = false;
        }.bind(this);
        this.devicemodel.state.LedOn = this.ledOn;
        this.showInProgressPanel = true;

        var patch = {
          TelemetryInterval: this.devicemodel.state.TelemetryInterval,
          LedOn: this.ledOn
        }
        this.services.Device.UpdateStateDevice(this.devicemodel,patch,successCallback,errorCallback);

      },

      // Reboot
      reboot: function(value){

        var successCallback = function(){

          if(value===true)
          {
            this.textInfoPanel = "Reboot success."
            this.showInfoPanel = true;
            this.colorInfoPanel = "green"

            setTimeout( function(){this.reboot(false)}.bind(this),500);
          }else if(value===false)
            this.showInProgressPanel = false;


        }.bind(this);
        var errorCallback = function(){
          if(value===true){
            this.textInfoPanel = "Reboot failed."
            this.showInfoPanel = true;
            this.colorInfoPanel = "red"
            
            this.showInProgressPanel = false;
          }else if(value===false){
            this.reboot(false);
          }
        }.bind(this);

        this.showInProgressPanel = true;
        if(value===false){
          var patch = {
            Reboot: value,
            LedOn: this.ledOn, // TODO : change to this.devicemodel.state.LedOn
            TelemetryInterval: this.devicemodel.state.TelemetryInterval
          }
        }else if(value===true)
          var patch = {
            Reboot: value
          }
        this.services.Device.UpdateStateDevice(this.devicemodel,patch,successCallback,errorCallback);
        
      },     

      // Save function
      saveState: function(){
        console.log(this.telemetryIntervalCopy)
        console.log(this.telemetryIntervalCopy>=5)
        if(/*Number.isInteger(this.telemetryIntervalCopy)===true&&*/this.telemetryIntervalCopy>=5)
        {
          this.devicemodel.state.TelemetryInterval =  this.telemetryIntervalCopy ;
          var successCallback = function(){
            this.textInfoPanel = "Telemetry interval updated."
            this.showInfoPanel = true;
            this.colorInfoPanel = "green"
            this.showInProgressPanel = false;
          }.bind(this);
          var errorCallback = function(){
            this.textInfoPanel = "Telemetry interval updating failed."
            this.showInfoPanel = true;
            this.colorInfoPanel = "red"
            this.showInProgressPanel = false;
          }.bind(this);

          this.showInProgressPanel = true;
          this.devicemodel.state.TelemetryInterval = new Number(this.telemetryIntervalCopy); 

          var patch = {
            TelemetryInterval: this.devicemodel.state.TelemetryInterval,
            LedOn: this.ledOn,
          }
          this.services.Device.UpdateStateDevice(this.devicemodel,patch,successCallback,errorCallback);
        }else{
          this.telemetryIntervalCopy = this.devicemodel.state.TelemetryInterval;
        }
      },

      // Show device credentials
      showCredentials: function(){
        this.$emit("showdevicecredetials",this.devicemodel.name);
      }
      // // Triggered at press on devicedetailsselected event launched 
      // // from device component and go to device details page
      // goToDeviceDetailsTab : function(tabname){
      //   this.$router.push("/devices/"+this.devicename+"/"+tabname);
      // },

      // // Fetches device selected of current logged user.  - FIXME: improve logic 
      // fetchDeviceDetails: function(){
      //   // Log
      //   //console.log("Fetching device details...");
        
      //   // Success callback
      //   var successCallback = function(device){
      //     // Set device retrieved
      //     console.log(device);
      //     this.devicemodel = device;
      //   }.bind(this)

      //   // Error callback
      //   var errorCallback = function(data){
      //     // Error
      //     // do soomething..
      //   }.bind(this)
        
      //   registrationService.GetCurrentUserDeviceDetails(this.devicename,successCallback,errorCallback);
      // },

    }
  }

</script>