<!-- Telemetry devices -->

<!-- Compnent style template-->
<style>
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



  .telemetrydeviceslist {
    width:100%;
    height:500px;
    /* height:100%;
    width: 260px;
    position: absolute;;
    left:0;
    bottom:0;
    top:0; */


    overflow:scroll;
    border-style: solid;
    border-width: 0px 0px 8px 0px;
    border-color: #1E88E5;
    
  }
  .telemetrygraph {
    height:100%;
    /* width: 100%;
    position:absolute;
    left:260px;
    bottom:0;
    top:0;
    */
    overflow-x: hidden;
    overflow-y:scroll;
    
    /* position:absolute;bottom:0;right:0;left:0;top:358px */
  }
</style>

<!-- Component template-->
<template>
  <v-app style="width:100%;margin-top:0">
    <div class="telemetrydeviceslist" style="resize:vertical">
        <!-- Content title -->
        <div class="headline" style="padding: 20px 0 0 20px;color:#1565C0;text-align:left">Devices.</div>
        <div class="regular grey--text" style="padding: 0 0 0 20px;text-align:left">Selects one or more measures for each devices.</div>
        <!-- Devices list -->
        <v-container fluid grid-list-md fill-height style="padding: 30px 0 0 40px">
            <v-layout>
                <telemetrydevice    style="float:left;padding-right:20px;padding-bottom:20px;" 
                                    v-for="(device,index) in devices" 
                                    v-bind:key="index" 
                                    :device="device"
                                    v-if="device.connectedAtLeastOneTime===true"
                                    v-on:selectedmesaure="selectedMesaure($event)"
                                    v-on:unselectedmesaure="unselectedMesaure($event)"
                                    :selected="selecteddevicepanels[device.name]!=undefined"
                                    >
                </telemetrydevice>
            </v-layout>
        </v-container>
    </div>
    <div class="telemetrygraph" >
        <!-- Content title -->
        <div class="headline" style="padding: 20px 0 0 20px;color:#1565C0;text-align:left">Telemetry data.</div>
        <div class="regular grey--text" style="padding: 0 0 0 20px;text-align:left">Measures selected above will be reported per device.</div>
        <!-- Chart wrapper-->
        <telemetrycharts
            v-if="showgraph===true" 
            style="margin: 20px;" 
            :mesauremodels="selecteddevicemesaures" 
            :telemetrydatamodel="telemetrydata"
            v-on:requestfordata="fetchTelemetryData($event)"
            v-on:newchartsstate="newChartsState($event)"
            :pollingmode="pollingmode"
            :isfetching="isfetching"
        >
        </telemetrycharts>
        <div 
            v-if="showgraph===false" 
            style="height:50px;width:70%;display:block;margin:auto;padding-top:8px;margin:30px" 
            class="caption grey lighten-3"
        >
            <v-icon large color="blue darken-2" style="margin-left:10px;float:left" >info</v-icon> 
            <div style="margin:10px;float:left">No telemetry data to show.</div>
        </div> 
    </div>
  </v-app>
</template>

<!-- Component settings -->
<script>
    import TelemetryDevice from './TelemetryDevices/TelemetryDevice'
    import TelemetryCharts from './TelemetryDevices/TelemetryCharts'
    import MesauresRequest from './TelemetryDevices/models/MesauresRequest'
    import Device from '@/models/Device'

    export default {
        // Component name
        name: "TelemetryDevices",
        
        // Component dependency
        components:{
            'telemetrydevice' : TelemetryDevice,
            'telemetrycharts' : TelemetryCharts
        },

        // Component props
        props: ["devices", "telemetry","pollingmode","isfetching"],

        // Component data
        data: function () {
            return {
                // Timeout handlers
                timeouthandler_fetching : null,
                // Device rendered in chart
                selecteddevicepanels: [],
                // Selected device-mesure
                selecteddevicemesaures: [],
                // Telemetry data
                telemetrydata: [],
                // Chart state
                chartsState: {
                    deviceNames: [],
                    mesaureName: null,
                    windowTime: null,
                    isRealtime: null,
                    startTime: null,
                    endTime: null
                },
                // Last un/selecting operation
                mesauresAdded : false
            }
        },

        // Component created hook
        created: function () {

        },

        // Component watched properties
        watch:{

            telemetry: function(newTelemetry,oldTelemetry){
                this.telemetrydata = newTelemetry;
            }
        },

        // Component computed properties
        computed: {

            // Show graph if some mesaures are selected
            showgraph: function () {
                return this.selecteddevicemesaures.length>0;
            },
        },


        
        // Component methods
        methods: {
            /* Handler caming from devices */
            // A mesaure of a device has been selected
            selectedMesaure: function(eventmodel){
                this.mesauresAdded = true;

                var newselecteddevicemesaures = [];
                this.selecteddevicemesaures.forEach(
                    function(mesaure){
                        newselecteddevicemesaures.push(mesaure);
                }.bind(this));
                newselecteddevicemesaures.push(eventmodel);
                this.selecteddevicemesaures = newselecteddevicemesaures;

                if(eventmodel.mesaurename===this.chartsState.mesaureName)
                    this.newChartsState();
            },
            // A mesaure of a device has been unselected
            unselectedMesaure: function(eventmodel){
                this.mesauresAdded = false;
                var deviceNames = []
                var newselecteddevicemesaures = [];
                this.selecteddevicemesaures.forEach(
                    function(mesaure){
                        if(
                            mesaure.mesaurename===eventmodel.mesaurename
                        &&  mesaure.devicename===eventmodel.devicename
                        ){
                            return;
                        }
                        newselecteddevicemesaures.push(mesaure);
                        deviceNames.push(eventmodel.devicename)
                });
                this.selecteddevicemesaures = newselecteddevicemesaures;

            },
            /* \ Handler caming from devices */


            /* Handler caming from chart */
            // A request for new data caming from chart wrapper
            fetchTelemetryData: function(mesaureRequest){
                // console.log(mesaureRequest)

                //this.$emit("fetchtelemetrydata",mesaureRequest);

            },

            // New chart state
            newChartsState: function(chartsState){

                var oldMesaureName = this.chartsState.mesaureName
                var oldDeviceNames = this.chartsState.deviceNames

                if(chartsState){
                    this.chartsState.windowTime = chartsState.windowTime
                    this.chartsState.mesaureName = chartsState.mesaureName
                    this.chartsState.isRealtime = (chartsState.windowTime===0)?chartsState.isRealtime:null
                }
                this.chartsState.endTime = new Date();
                this.chartsState.startTime = (new Date(this.chartsState.endTime.getTime()-this.chartsState.windowTime*60*1000));
                this.chartsState.deviceNames = []
                this.selecteddevicemesaures.forEach(
                    function(mesaure){
                        if(mesaure.mesaurename===this.chartsState.mesaureName)
                            this.chartsState.deviceNames.push(mesaure.devicename);
                }.bind(this));
                this.chartsState.deviceNames.sort((a,b)=>{return a.localeCompare(b);})

                // Nothing if last is unselect operation
                if(this.mesauresAdded===false){
                    this.mesauresAdded=true;
                    return;
                }
                
                // Clean telemetry data
                this.telemetrydata = [];
                //console.log(this.telemetrydata);
                // Build mesaure request
                var mesauresRequest = new MesauresRequest(
                    this.chartsState.deviceNames,
                    this.chartsState.mesaureName,
                    this.chartsState.startTime.toISOString(),
                    this.chartsState.endTime.toISOString(),
                    this.chartsState.isRealtime
                );
                this.$emit("fetchtelemetrydata",mesauresRequest);
                // ...
            }

        }
    }

</script>