<!-- User devices component for routing-->
<!-- Component style -->
<style>

  /* Wrapper of device details div */
  .devicedetails{
    position : absolute; 
    right: 0px;
    top:0px; 
    width:500px;
    bottom:0px;
    
    height: 100%; 
    z-index: 10;
    box-shadow: 0 0px 20px rgba(0,0,0,0.23);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .devicedetails .topbar{
    width:100%;
  }
  .devicedetails .topbar .close-button{
    padding:2px;
    color: white
  }
  .devicedetails .topbar .close-button:hover{
    background-color: #F44336;
  }

  /* Wrapper of map details div */
  .mapdetails{
    position : absolute; 
    right: 20px;
    bottom:20px; 
    width:450px;
    max-height: 330px; 
    z-index: 9;
    box-shadow: 0 0px 20px rgba(0,0,0,0.33);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mapdetails .topbar{
    width:100%;
  }
  .mapdetails .topbar .resize-button{
    padding:2px;
    color: white;
  }
  .mapdetails .topbar .resize-button:hover{
    background-color: #F44336;
  }

  .mapresizedbar{
    position:fixed;
    bottom:0;
    right:20px;
    width:250px;
    height:35px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.33);
  }

  .mapresizedbar .resize-button{
    padding:2px;
    color: white;
  }
  .mapresizedbar .resize-button:hover{
    background-color: #F44336;
  }

  .hiddenmapobjects{
    /* visibility: hidden; */
    width:0px;
    height:0px;
  }

  .showmapobjects{
    /* visibility: show; */
    width:-1;
    height:-1;
  }

</style>


<!-- Component template-->
<template>
  <v-app style="width:100%;margin-top:0">
    <!-- Local content view -->
    <v-content style="padding: 0 0 0 0px;background-color:white;">
      
      <!-- Content title -->
      <div v-if="loggedIn===false" class="display-1 " style="text-align:left;padding: 20px 0 0 20px;color:#1565C0">Device Group</div>
      <div v-if="loggedIn===true" class="display-1 " style="text-align:left;padding: 20px 0 0 20px;color:#1565C0">Device Group <span  style="color:#E65100">{{groupName}}</span></div>

      <!-- Content body -->
      <div style="padding: 30px 0 0 40px;">
        <!-- List user devices -->
        <div  v-for="item in this.devices" v-bind:key="item.name" style="float:left;margin:10px;width:auto;height:auto;">
          <!-- Device component (business application reusable component) -->  
          <device :showcredentials="item.name===showCredentialsDeviceName" v-bind:devicemodel="item" v-on:devicedetailsselected="goToDeviceDetailsPage($event)"></device>
        </div>
        <!-- Component for registration new device -->
        <registerdevice  style="float:left;margin:10px;" v-on:onregistration="registersDeviceForUser($event)"  ></registerdevice>
      </div>
      
      <!--Navigation content-->
      <div class="devicedetails" style="background-color:white" v-if="devicedetailsdialog">
        <div class="topbar blue lighten-1"  >
           <v-icon style="position:relative;left:-225px" class="close-button" v-on:click="returnFromDeviceDetailsPage()" >close</v-icon>
        </div>
        <router-view :device="device" v-on:showdevicecredetials="showDeviceCredentials($event)"/>
      </div>

    </v-content>

    <!-- Comodo cert download -->
    <!-- <v-tooltip top>
      <v-btn 
        fab dark large color="purple" 
        style="position:fixed;bottom:10px;right:10px"
        slot="activator"
        v-on:click="downloadTLSServer">
        <v-icon dark>cloud_download</v-icon>
      </v-btn>
      <span>Download and copy-paste certificate in serial terminal. The device will uses it to authenticate the remote hosts through TLS.</span>
    </v-tooltip >-->
  </v-app> 
</template>

<!-- Component settings -->
<script>
  import DeviceComponent from './UserDevices/DeviceComponent'
  import RegisterDeviceComponent from './UserDevices/RegisterDeviceComponent'
  import Device from '@/models/Device'
import { setTimeout } from 'timers';

  export default {
    name: "UserDevices",

    components: {
      'device': DeviceComponent,
      'registerdevice': RegisterDeviceComponent, 
    },

    props : ["devices","groupname","logged"],
    
    data: function () {
      return {
        // Component settings
        settings: {
          // Time for updating component data
          timeout: 3000
        },
        // Fetched devices
        fetcheddevices : null,
        // Timeout handler
        timeouthandler_fetching : null,
        // Device locations
        markers: [],
        // Device locaiton selected
        selectedmarker : null,
        // Devices location selected
        selectedmarkers : [],
        // True device registration success , false if device registration failed , null nothing happened.
        registrationEventSuccess: null,
        // Contains detailed information about last registration device event.
        registrationEventInfo: "",
        // Trigger a click on qrscanner component
        qrscannerdialog: false,
        // To open device details tag
        devicedetailsdialog:false,
        // Device name for details
        devicename: null,
        device : null,
        // If map window is reduce or not
        reducedmap: false,

        showCredentialsDeviceName: null

      }
    },

    // Component created hook
    created: function () {
      // `this` points to the vm instance
      //this.updatemap()
    },

    // Component before destroy hook
    beforeDestroy() {
      clearTimeout(this.timeouthandler_fetching)
    },

    // Component computed properties
    computed:{
      // devices: {
      //   get: function(){
      //     return this.fetcheddevices;
      //   },
      //   set: function(newfetcheddevices){
      //     // nothing to do..
      //   }
      // },

      // Watch group name
      groupName: {
        get: function(){
          return this.groupname;
        },
        set: function(newgroupname){
          // nothing to do..
        }
      },

      // Watch login status
      loggedIn: {
        get: function(){
          return this.logged;
        },
        set: function(newgroupname){
          // nothing to do..
        }
      }
    },

    // Component whatched properties
    watch: {

        // Watch devicemodel changing to react
        devices: function (newdevices,olddevices) {
          this.devices = newdevices;
          newdevices.forEach(
            function(newdevice){
              if(newdevice.name == this.devicename){
                this.device = newdevice;
              }
            }.bind(this)
          );
          //this.updatemap()
        },
      
    },



    // Component methods
    methods: {
      // Registers device to logged user.
      registersDeviceForUser: function(deviceregistered){

        if(deviceregistered.id==="") return;


        var newdevice = new Device(
          deviceregistered.id, 
          undefined,
          undefined,
          undefined,
          undefined,
          undefined,
          this.groupName
        );
        this.$emit('registerdevice',newdevice);

      },

      // Triggered at press on devicedetailsselected event launched 
      // from device component and go to device details page
      goToDeviceDetailsPage : function(device){
        if(this.devicedetailsdialog === true){
          this.returnFromDeviceDetailsPage();
          return;
        }
        this.$router.push('/devices/'+device.name);
        this.devicename = device.name;
        this.device = device;
        this.devicedetailsdialog = true;
      },

      returnFromDeviceDetailsPage: function(){
        this.$router.push('/devices')
        this.devicename = null;
        this.devicedetailsdialog = false;
      },

      downloadTLSServer: function(){
        this.services.Registration.DownloadTLSServer();
      },

      showDeviceCredentials: function(devicename){
        console.log(devicename)
        this.showCredentialsDeviceName = null;
        setTimeout(function(){this.showCredentialsDeviceName = devicename;}.bind(this),100);
        
      }
      // // Triggered at press on device card to select
      // // device on map
      // selectDeviceOnMap: function(device){

      //   // var latitude = device.latitude;
      //   // var longitude = device.longitude;
      //   // var message = device.name;
      //   // this.selectedmarker = new MapPosition(latitude,longitude,message);

      //   var tempmarkers = [];
      //   var mappositiondevice = device.mapposition;
      //   this.markers.forEach(function(marker){
      //     if(mappositiondevice!==undefined&&mappositiondevice!==null)
      //       if(marker.message === mappositiondevice.message)
      //           marker.selected = true;
              
      //     tempmarkers.push(marker);
      //   });
      //   this.markers = tempmarkers;

      // },
      // // Triggered at press on device card to select
      // // device on map
      // unselectDeviceOnMap: function(device){
      //   var tempmarkers = [];
      //   var mappositiondevice = device.mapposition;
      //   this.markers.forEach(function(marker){
      //     if(mappositiondevice!==undefined&&mappositiondevice!==null)
      //       if(marker.message === mappositiondevice.message)
      //         marker.selected = false;
          
      //     tempmarkers.push(marker);
      //   });
      //   this.markers = tempmarkers;

      //   this.returnFromDeviceDetailsPage();
      // },



      // // Switch model to reduce map
      // reducemapdetails: function(){
      //     this.reducedmap=!this.reducedmap;
      // },

      // // Update map
      // updatemap: function(){
      //     // Logic for map view updating
      //     var tempmarkers = [];

      //     this.devices.forEach(function(device){

      //         if(device.latitude!=null&&device.longitude!=null){

      //           var latitude = device.latitude;
      //           var longitude = device.longitude;
      //           var message = device.name;
      //           var mapposition = new MapPosition(latitude,longitude,message);
      //           mapposition.selected = false;
      //           tempmarkers.push(mapposition);
      //           device.mapposition = mapposition;
      //         }
      //       }
      //     );

      //     // Check to prevent to update markers if they are not changed
      //     var updatemarkers = false;
      //     for(var tempmarkerindex in tempmarkers){
      //       var markerfound = false;
      //       for(var markerindex in this.markers){
      //         var tempmarkercoordinates = tempmarkers[tempmarkerindex].coordinates;
      //         var tempmarkermessage = tempmarkers[markerindex].message;
      //         var markercoordinates = this.markers[markerindex].coordinates;
      //         var markermessage = this.markers[markerindex].message;
      //         if(
      //           tempmarkercoordinates.lat === markercoordinates.lat &&
      //           tempmarkercoordinates.lng === markercoordinates.lng &&
      //           tempmarkermessage === markermessage                     // FIXME: Switch to id !
      //         ){
      //           markerfound = true;
      //         }
      //         tempmarkers[markerindex].selected = this.markers[markerindex].selected
      //       }
      //       if(markerfound==false){
      //         // A new marker was found . Need to update markers component
      //         updatemarkers = true;
      //         break;
      //       }
      //     }
      //     if(updatemarkers===true){
      //       // Update markers
      //       this.markers = tempmarkers;
      //     }else{
      //       // No new markers were found. We can prevent to update markers component
      //     }
      //     // \ Logic for map view updating


      // }
    }
  }
</script>