<!-- Chart component -->

<!-- Compnent style template-->
<style>
    canvas{
        width: 100% !important;
        height: auto !important;
        max-height:470px
    }
</style>

<!-- Component template-->
<template>

    <!-- Map -->
    <div style="position:relative">
        <canvas :id="idchart"></canvas>
    </div>
    <!-- / Map -->

</template>

<!-- Component settings -->
<script>

    Chart.pluginService.register({
        beforeDraw: function (chart, easing) {
            if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
                var ctx = chart.chart.ctx;
                var chartArea = chart.chartArea;

                ctx.save();
                ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
                ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
                    ctx.restore();
            }
        }
    });

    export default {
        // Component name
        name: "Chart",
        // Component dependency
        components:{},
        // Compoments props
        props: ['idchart','mesaures'],

        // Components data
        data() {
            return {
                currentchart: null
            }
        },

        // Component mounted hook
        mounted: function(){
            if(this.mesaures===undefined||this.mesaures===null||this.mesaures.length<=0)
                    // Something to show
                    return;
            this.render();
            
        },

        // Watcher for markers
        watch: {
            // Monitor mesaures.
            mesaures: function(){
                // Transform mesaures...
                if(this.mesaures===undefined||this.mesaures===null||this.mesaures.length<=0)
                    // Something to show
                    return;
                this.render();
                
            }
        },

        // Component methods
        methods: {
            // Render on chart function
            render : function(){
                // Build informations to render
                var descriptor = this.buildchartdescriptor();
                
                if(this.currentchart!==null&&this.currentchart!==undefined)
                    this.currentchart.destroy();
          
                var ctx = document.getElementById(this.idchart).getContext('2d');       
                this.currentchart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: descriptor.labels,
                        datasets: descriptor.datasets
                    },
                    options: {

                        // scales: {
                        // yAxes: [{
                        //     ticks:{
                        //     min : 0,
                        //     stepSize : 1,
                        //     fontColor : "#000",
                        //     fontSize : 14
                        //     },
                        //     gridLines:{
                        //     color: "#000",
                        //     lineWidth:2,
                        //     zeroLineColor :"#000",
                        //     zeroLineWidth : 2
                        //     },
                        //     stacked: true
                        // }],
                        // xAxes: [{
                        //     ticks:{
                        //     fontColor : "#000",
                        //     fontSize : 14
                        //     },
                        //     gridLines:{
                        //     color: "#fff",
                        //     lineWidth:2
                        //     }
                        // }]
                        // },

                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true,
                                    fontColor : "#424242",
                                },
                                gridLines:{
                                    color: "grey",
                                }
                            }],                        
                        xAxes: [{
                            ticks:{
                                fontColor : "#424242",
                                fontSize : 12,
                                autoSkip: true,
                                maxTicksLimit: 9
                            },
                        }]
                        },
                        layout: {
                            margin: {
                                left: 25,
                                right: 25,
                                top: 20,
                                bottom: 20
                            },
                        },
                        responsive:true,
                        chartArea: {
                            backgroundColor: 'white'
                        }
                    }
                }
            );            
        },

        // Util method
        buildchartdescriptor : function(){
            var datasets = [];
            var labelstemp = [];
            var labels = [];
            var index = 0;
            this.mesaures.forEach(function(mesaure){
                labelstemp = mesaure.xvalues
                var values =  mesaure.yvalues;
                var data = [];
                // Fill value with position synchronization
                mesaure.xvalues.forEach(function(xvalue){
                    if(values[xvalue]!==undefined)
                        data.push(values[xvalue]) ;
                    else
                        data.push(undefined);
                });
                // Color
                var colors=[        
                        'red',
                        'green',
                        'purple',
                        'yellow',
                        'orange',
                        'blue',
                ];
                var colorsopac=[        
                        'red',
                        'green',
                        'purple',
                        'yellow',
                        'orange',
                        'blue',
                ];
                var color = colors[Math.floor(index%6)];
                var coloropac = colorsopac[Math.floor(index%6)];
                // Label
                var label = mesaure.mesaurename;

                // Build data set
                var dataset = {
                    label: label,
                    data: data,
                    backgroundColor: [ coloropac ],
                    borderColor: [ color ],
                    borderWidth: 1,
                    steppedLine: false,
                    fill: false
                };
                datasets.push(dataset);
                index++;
            });

            for(var fulllabelindex in labelstemp)
            {
                var fulllabel = labelstemp[fulllabelindex];
                labels.push(fulllabel.split(" ")[0]);
            }

            return {
                datasets :datasets,
                labels :labels
            };
        }
    }

}
</script>