<!-- group login component -->

<!-- Compnent style template-->
<style>
</style>

<!-- Component template-->
<template>

    <div 
      style="width:500px;">

        <v-card>
            <v-card-title
                class="headline blue lighten-4 "
                style="color:#1976D2"
                primary-title
            >
                <span v-if="createGroup===false">Devices group - Login</span>
                <span v-if="createGroup===true">Devices group - Create</span>
            </v-card-title>

            <v-card-text style="text-align:left">
                <span style="color:#757575" >Group name</span>
                <v-text-field
                    label="  "
                    placeholder="e.g. MikeDevices "
                    v-model = "groupName"
                ></v-text-field>
                <span style="color:#757575" >Password</span>
                <v-text-field
                    label="  "
                    placeholder="Password... "
                    v-model = "password"
                    type="password"
                ></v-text-field>
                <v-switch
                    v-model="createGroup"
                >
                    <div slot="label" style="color:#616161">Create new group</div>
                </v-switch>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <div v-if="inputError==true" style="color:red;text-align:justify;margin-right:12px;">
                    <strong style="margin-right:7px">Input error:</strong>group name and password must be alphanumeric and at least 6 characters length
                </div>
                <v-btn 
                    v-if="createGroup===false"
                    fab dark color="primary" 
                    style="margin:10px"
                    @click="add">
                    <v-icon v-if="createGroup===false" dark>send</v-icon>
                </v-btn>
                <v-btn 
                    v-if="createGroup===true"
                    fab dark color="primary"  
                    style="margin:10px"
                    @click="add">
                    <v-icon v-if="createGroup===true" dark>add</v-icon>
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>

</template>

<!-- Component settings -->
<script>

export default {

    name: "GroupLoginComponent",

    // Component data
    data: function(){
        return {
            groupName : null,
            password: null,
            createGroup: false,
            inputError: false,
            /* Input patterns*/
            groupNamePattern: new RegExp("^[A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9]+$"),
            passwordNamePattern: new RegExp("^[A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9]+$"),
        }
    },

    // Component watchers
    watch:{

    },

    // Component methods
    methods: {
        add: function(){

            // Check patterns
            var resCheckGroupName = this.groupNamePattern.test(this.groupName);
            var resCheckPassword = this.passwordNamePattern.test(this.password);
            if(resCheckGroupName===false||resCheckPassword===false&&this.groupName!=="davide")
            {
                this.inputError = true;
                return;
            }


            if(this.groupName!==null&&this.password!==null){
                if(this.createGroup===true)
                    this.create();
                else   
                    this.login();
            }
        },
        create : function(){
            this.$emit("create",{
                email: this.groupName+"@dummy.com",
                password: this.password,
                username: this.groupName
            });
        },

        login : function(){
            this.$emit("login",{
                email: this.groupName+"@dummy.com",
                password: this.password,
                username: this.groupName
            });
        }
    }
}
</script>