<!-- Component style -->
<style>
  .sidebaritems:hover{
    background-color: #90CAF9;
  }

  .itemselected{
    background-color: #2196F3;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #FFC107;
  }

</style>

<template>
  <div id="app">

    <!-- Global main navigation bar -->
    <div
      class="blue darken-2"
      style="width:60px;position:absolute;bottom:0;top:0"
    >
      <v-list class="blue darken-2">
        <!-- Logo -->
        <v-list-tile >
          <v-list-tile-action>
            <img :src="require('@/assets/st-logo-mix.png')" style="display:block;margin:auto;;height: 49px; width:60px;margin-left:-18px">
            
          </v-list-tile-action>
        </v-list-tile>
        <!-- Switch group -->
        <!-- <v-list-tile class="sidebaritems">
          <v-list-tile-action v-on:click="startLogin">
            <v-layout>
              <v-tooltip >
                  <v-icon 
                    slot="activator"
                    dark>
                    rotate_90_degrees_ccw
                  </v-icon>                            
                  <span>Switch group</span>
              </v-tooltip>
            </v-layout>
          </v-list-tile-action>
        </v-list-tile> -->

        <!-- Logout group -->
        <v-list-tile class="sidebaritems">
          <v-list-tile-action v-on:click="logout">
            <v-layout>
              <v-tooltip>
                  <v-icon 
                    slot="activator"
                    dark>
                    input
                  </v-icon>                            
                  <span >Log-out</span>
              </v-tooltip>              
            <!-- <v-icon dark>input</v-icon> -->
            </v-layout>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </div>

    <!-- SPA navigation bar -->
    <div
      clipped
      fixed
      app
      class="blue darken-2 "
      style="width:200px;position:absolute;left:60px;bottom:0;top:0;"
      :permanent="true"
      :absolute="true"
    >
      <div class="title" style="padding-top:30px;padding-bottom:10px;;margin-left:-20px;font-family: Arial, Helvetica, sans-serif;color:white;">Dashboard</div>
      <v-list class="blue darken-2 " >
        <!-- Device tab -->
        <v-list-tile @click="gotoview('devices')" class="sidebaritems" v-bind:class="{ itemselected : devicesselected() }">
          <v-list-tile-action >
            <v-layout sm12 style="padding-left:20px;">
              <v-flex sm4>
                <v-icon v-if="!devicesselected()" color="blue-grey lighten-5">business</v-icon>
                <v-icon v-if="devicesselected()" color="amber">business</v-icon>
              </v-flex>
              <v-flex sm8><div class="subheading" style=";padding-left:12px;font-family: Arial, Helvetica, sans-serif;color:white;">Devices</div></v-flex>
            </v-layout>
          </v-list-tile-action>
        </v-list-tile>

        <!-- Telemetry tab -->
        <v-list-tile @click="gotoview('telemetry')" class="sidebaritems" v-bind:class="{ itemselected : telemetryselected() }">
          <v-list-tile-action >
            <v-layout sm12 xs12 style="padding-left:20px;">
              <v-flex sm4 xs4>
                <v-icon v-if="!telemetryselected()"  color="blue-grey lighten-5">show_chart</v-icon>
                <v-icon v-if="telemetryselected()"  color="amber">show_chart</v-icon>
              </v-flex>
              <v-flex sm8 xs8>
                <div class="subheading" style=";padding-left:10px;font-family: Arial, Helvetica, sans-serif;color:white;">Telemetry</div>

              </v-flex>
            </v-layout>
          </v-list-tile-action>
        </v-list-tile>

      </v-list>

    </div>

    <!-- Content -->
    <v-content fluid fill-height style="position:absolute;top:0;bottom:0;left:260px;right:0;padding: 0 0 0 0">
      <v-container fluid fill-height style="padding: 0 0 0 0px">
        <v-layout >
            <router-view 
              :logged="isLoggedIn"
              :groupname="groupName"
              :devices="devices" 
              :isfetching="isTelemetryFetching"
              :telemetry="telemetryData"
              :pollingmode="telemetryPollingMode"
              v-on:fetchtelemetrydata="fetchTelemetryData($event)"
              v-on:registerdevice="registerDevice($event)"
            /> 
        </v-layout>
      </v-container>
    </v-content>

    <!-- Information/Alert panel -->
    <v-snackbar
      v-model="showInfoPanel"
      :multi-line="true"
      :top="true"
      :color="colorInfoPanel"
    >
      <span style="font-weight:bold">{{ textInfoPanel }} </span>
      <v-btn
        color="White"
        flat
        @click="showInfoPanel = false"
      >
        Close
      </v-btn>
    </v-snackbar>

    <!-- Background -->
    <div
      v-if="showInProgressPanel===true||isLoggedIn===false||login===true"
      v-on:click="clickOnBackground"
      style="background-color:black;opacity:0.7;position:absolute;top:0;bottom:0;left:0;right:0;z-index:20">
    </div>

    <!-- Operation in progress panel -->
    <v-progress-circular
      v-if="showInProgressPanel===true"
      style="position:absolute;top:45%;z-index:21"
      :width="4"
      :size="70"
      color="red"
      indeterminate
    ></v-progress-circular>

    <!-- Group login panel -->
    <div
      v-if="isLoggedIn===false||login===true"
      style="position:absolute;left:0;right:0;width:500px;margin:auto;top:170px;z-index:21"
    > 
      <grouplogin
          
          class="elevation-3"
          v-on:login="signIn($event,true)"
          v-on:create="signIn($event,false)"
      >
      </grouplogin>
    </div>
  </div>

</template>

<script>
import Vue from 'vue'
import Vuetify from 'vuetify'
import VueResource from 'vue-resource'
// import NodeRSA from 'node-rsa'

import TelemetryRequest from '@/models/TelemetryRequest'
import NewDevice from '@/models/NewDevice'
import User from '@/models/User'

import GroupLoginComponent from '@/components/GroupLoginComponent'
import { setInterval, clearInterval } from 'timers';

Vue.use(VueResource);
Vue.use(Vuetify)

export default {
  name: 'app',
  components: {
    grouplogin: GroupLoginComponent
  },
  data : function(){
    return{
      // Group login state
      isLoggedIn: false,
      login : true,
      groupName: null,

      // Device id under request
      createDeviceId:"",
      deviceId:"",

      // Telemtry data cache
      telemetryData:[],
      // Timeout refreshing fetched devices
      timeoutRefreshDevices: 30000,
      // Refresh devices callback handler
      refreshDevicesId : null,
      // Fetched devices
      devices: [],

      // Timeout refresh data polling-mode
      timeoutTelemetryRefresh: 5000,
      // Telemetry polling mode status
      telemetryPollingMode : false,
      // Telemetry fetching in progress
      isTelemetryFetching:false,
      // Start time polling realtime requests
      startTime:null,
      // Fetched telemetry (and cached)
      telemetrycache: [],

      // Info panel
      textInfoPanel : "",
      showInfoPanel : false,
      timeoutInfoPanel : 20000,
      colorInfoPanel:"",
      showInProgressPanel:false
    }
  },

  // Component mounted hook
  mounted : function(){
    this.$router.push('/devices');
    // Set user session observer
    this.services.Authentication.SetUserSessionObserver(this.userSessionObserver);
  },

  // Watcher
  watch:{
  },

  // Component methods
  methods:{
    // Click on background handler
    clickOnBackground(){
      if(this.isLoggedIn===true)
      {
        this.login=false;
      }
    },

    // Start new login
    startLogin(){
      this.login = true;
    },

    // Cancel new login
    cancelLogin(){
      this.login = false;
    },

    // Logout from group
    logout(){
      this.signOut(
        // Success callback
        function(){
          
          this.login = true;
          this.telemetryData = [];
          this.devices = [];
          this.groupName = ""

        }.bind(this),
        // Failure callback
        function(){
          this.textInfoPanel = "Something gone wrong."
          this.showInfoPanel = true;
        }.bind(this)
      )
    },

    // Perform login/create new group
    signIn(newcredentials,login){

      var user = new User(
        newcredentials.email,
        newcredentials.password,
        newcredentials.username
      );
      
      var successCallback = function(userdata){
        console.log("[App::methods::signIn::successCallback]");
        console.log(userdata);
        if(login===false){
          this.textInfoPanel = "Group "+user.email.split('@')[0]+" created."
          this.colorInfoPanel = "green"
          this.showInfoPanel = true;

        }else{
          
          if(user.email===this.groupName+"@dummy.com")
          {
            this.textInfoPanel = "Group "+user.email.split('@')[0]+" already logged."
            this.colorInfoPanel = "green"
            this.showInfoPanel = true;
            this.login = false;
            return;
          }
        }

        this.login = false;
        this.telemetryData = [];
        this.devices = [];
      }.bind(this);

      var errorCallback = function(errdata){
        console.log("[App::methods::signIn::errorCallback]");
        console.log(errdata);
        if(login===true)
          this.textInfoPanel = "Login into "+user.email.split('@')[0]+" failed."
        else
          this.textInfoPanel = "Group "+user.email.split('@')[0]+" creating failed."
        this.colorInfoPanel = "red"
        this.showInfoPanel = true;
      }.bind(this);

      if(login===true){
        // Login into group (/ user)
        this.services.Authentication.Login(user,successCallback,errorCallback);
        // console.log(user)
      }else{
        // Create new group (/ user)
        this.services.Authentication.CreateUser(user,successCallback,errorCallback);
      }
    },
    // Perform logout
    signOut(success,error){
      var successCallback = function(userdata){
        console.log("[App::methods::signOut::successCallback]");
        console.log(userdata);
        success(userdata);
      }.bind(this);

      var errorCallback = function(errdata){
        console.log("[App::methods::signOut::errorCallback]");
        console.log(errdata);
        error(errdata)
      }.bind(this);

      this.services.Authentication.Logout(successCallback,errorCallback);
    },
    // Perform logout
    userSessionObserver(groupName){
      if(groupName!==null){
        console.log("[App::methods::userSessionObserver] group logged in");
        console.log(groupName);
        this.isLoggedIn=true;
        this.login = false;
        this.groupName = groupName;

        // Refresh fetched devices at first login 
        this.refreshDevicesFetched(false)
        this.refreshDevicesId=setInterval(
          function(){
            this.refreshDevicesFetched(true)
          }.bind(this),
          this.timeoutRefreshDevices
        );

      }else{
        console.log("[App::methods::userSessionObserver] group logged out");
        this.isLoggedIn=false;
        this.login = true;
        // Stop refresh loop 
        clearInterval(this.refreshDevicesId);
        this.services.Device.StopListeTelemetryRealtimeData(function(){},function(){});
        if(this.refreshTelemetryPollingId!=null){          
          clearInterval(this.refreshTelemetryPollingId)
        }
      }
    },

    // Each timeout re-fetch devices in devices array
    refreshDevicesFetched(auto){
      // Show in progress panel
      if(auto===true)
        this.showInProgressPanel = false;
      else
        this.showInProgressPanel = true;

      var successCallback = function(devices){
        this.devices = []
        for(var index in devices){
          var fetchedDevice = devices[index];
          // Update and standardize fetched devices
          this.standardizeLegacyDevice(fetchedDevice);
          // Insert/replace in fetched device array 
          this.updateFetchedDevices(fetchedDevice);         
        }
        this.sortDevices();
        // Dismiss in progress panel
        this.showInProgressPanel = false;
      }.bind(this);
      var errorCallback = function(err){
      }.bind(this);

      // Retrieve all devices for logged user
      this.services.Registration.GetDevices(null,successCallback,errorCallback);


      // var f = function() {
      //   // FIXME to transform into a single request
      //   this.devices.forEach(device=>{
      //     var request = new NewDevice(
      //       device.name,
      //       false
      //     );
      //     this.fetchDevice(request,true)
        
      //   })
      // }.bind(this);
      // setInterval(f,this.timeoutRefreshDevices);

    },

    // Register a device
    registerDevice(newdevice){
      this.showInProgressPanel = true;

      var successCallback = function(fetchedDevice){
        this.showInProgressPanel = false;

        this.colorInfoPanel = "green";
        this.showInfoPanel = true;
        this.textInfoPanel = "Device registerd successfully"
        setInterval(function(){this.showInfoPanel=false}.bind(this),this.timeoutInfoPanel);
        
        // Standardize device
        this.standardizeLegacyDevice(fetchedDevice);
        // Insert/replace in fetched device array 
        this.updateFetchedDevices(fetchedDevice);
        // Sort devices
        this.sortDevices();
      }.bind(this);
      var errorCallback = function(){
        this.showInProgressPanel = false;

        this.colorInfoPanel = "red";
        this.showInfoPanel = true;
        this.textInfoPanel = "Device registration failed. Probably already exist a device with same id."
        setInterval(function(){this.showInfoPanel=false}.bind(this),this.timeoutInfoPanel);
      }.bind(this);

      this.services.Registration.RegistersDevice(newdevice,successCallback,errorCallback);

    },
   
    // // Fetch a device
    // fetchDevice(deviceselected,auto){
    //   if(auto===true)
    //     this.showInProgressPanel = false;
    //   else
    //     this.showInProgressPanel = true;

    //   var successCallback = function(fetchedDevice){
    //     this.showInProgressPanel = false;
    //     // Update and standardize fetched devices
    //     this.standardizeLegacyDevice(fetchedDevice);
    //     // Insert/replace in fetched device array 
    //     this.updateFetchedDevices(fetchedDevice);
    //   }.bind(this);
    //   var errorCallback = function(){
    //     this.colorInfoPanel = "red";
    //     this.showInProgressPanel = false;
    //     this.showInfoPanel = true;
    //     this.textInfoPanel = "Problems during devices fetching. Probably device hasn't been registered yet."
    //     setInterval(function(){this.showInfoPanel=false}.bind(this),this.timeoutInfoPanel);
    //   }.bind(this);

    //   this.services.Registration.GetDevices([],successCallback,errorCallback);

    // },
    
    // Fetch telemetry data 
    fetchTelemetryData(mesaureRequest)
    {

      // Realtime data check
      if(mesaureRequest.realtime===true){
        this.inRealtime = true;

        var first = true;
        var successMessageRealtimeFetchingCallback = function(fetchedTelemtryData){
          var newData = [];
          if(first===false)
            this.telemetryData.forEach(data => newData.push(data));
          fetchedTelemtryData.forEach(data => newData.push(data));
          this.telemetryData = newData;

          first = false;
        }.bind(this);
        var errorRealtimeFetchingCallback = function(err){
          console.log("[App::fetchTelemetryData] error");
          console.log(err);
          console.log("[App::fetchTelemetryData] Starting polling mode");
          // Polling data fetching 
          this.telemetryPollingMode = true;
          
          var first = true;
          var successCallbackPollingFetching = function(fetchedTelemtryData){
            
            var newData = [];
            if(first===false)
              this.telemetryData.forEach(data => newData.push(data));
            fetchedTelemtryData.forEach(data => newData.push(data));

            // var temp = []
            // newData.forEach(
            //   data =>{
            //     if(temp[data.devicename]===undefined)
            //       temp[data.devicename] = 1
            //     else
            //       temp[data.devicename]++

            //   }
            // );
            // for(var i in temp)
            //   console.log(i+": "+temp[i]);

            this.telemetryData = newData;
            first = false;
          }.bind(this);
          var errorCallbackPollingFetching = function(){
            // TODO: notify in some way..
          };
          var past = new Date();
          var present = past;
          this.refreshTelemetryPollingId = setInterval(
            function(){
              past = present;
              present = new Date();
              // Perform request for all device
              var deviceNames = [];
              for(var index in mesaureRequest.devicenames){
                deviceNames.push(mesaureRequest.devicenames[index]);
              }
              // Build telemetry data request
              var telemetryRequest =  new TelemetryRequest(
                  deviceNames,
                  mesaureRequest.mesaurename,
                  past.toISOString(),
                  present.toISOString(),
                  successCallbackStaticFetching,
                  errorCallbackStaticFetching
              );
              this.services.Device.FetchTelemetryData(telemetryRequest,successCallbackPollingFetching,errorCallbackPollingFetching)
            }.bind(this),
            this.timeoutTelemetryRefresh
          );
        }.bind(this);

        this.telemetryData = []
        this.services.Device.StartListeTelemetryRealtimeData(successMessageRealtimeFetchingCallback,errorRealtimeFetchingCallback);

      }else if((mesaureRequest.realtime===false||mesaureRequest.realtime==null||mesaureRequest.realtime==undefined)){
        var successStopRealtimeFetchingCallback = function(fetchedTelemtryData){
          //this.telemetryData = fetchedTelemtryData;

        }.bind(this);
        var errorStopRealtimeFetchingCallback = function(err){
          console.log("[App::fetchTelemetryData] error");
          console.log(err);

        };
        
        if(this.refreshTelemetryPollingId!=null){
          clearInterval(this.refreshTelemetryPollingId);
          this.refreshTelemetryPollingId = null;
          this.telemetryPollingMode = false;
        }
        this.services.Device.StopListeTelemetryRealtimeData(successStopRealtimeFetchingCallback,errorStopRealtimeFetchingCallback);
        
      }
      if(mesaureRequest.realtime==null||mesaureRequest.realtime==undefined){
        this.telemetryPollingMode = false;

        // Static data fetching 
        // var nRequest = 0;
        // var copyTelemtryData = []
        var successCallbackStaticFetching = function(fetchedTelemtryData){
          this.isTelemetryFetching=false;
          var copyTelemtryData = []
          for(var i in fetchedTelemtryData)
            copyTelemtryData.push(fetchedTelemtryData[i]);
          // nRequest--;
          // if(nRequest===0)
          // console.log(copyTelemtryData)
          this.telemetryData = copyTelemtryData;
        }.bind(this);
        var errorCallbackStaticFetching = function(){
          // TODO: notify in some way..
        };
        // Perform request for all device
        // nRequest=mesaureRequest.devicenames.length;

        this.isTelemetryFetching = true;
        // Build telemetry data request
        var telemetryRequest =  new TelemetryRequest(
              mesaureRequest.devicenames,
              mesaureRequest.mesaurename,
              mesaureRequest.windowstart,
              mesaureRequest.windowend,
              successCallbackStaticFetching,
              errorCallbackStaticFetching
        );
          
          this.services.Device.FetchTelemetryData(telemetryRequest,successCallbackStaticFetching,errorCallbackStaticFetching)
        }
    },


    // Navigation method
    gotoview: function(viewnameselected){
      // Default user devices view
      if(viewnameselected==='devices'){
        this.selected = 'devices'
        this.$router.push('/devices');
      }
      // Telemetry devices view
      if(viewnameselected==='telemetry'){
        this.selected = 'telemetry'
        this.$router.push('/telemetry');
      }

      // FIXME: create a watcher
      // Stop-realtime in any case
      if(this.selected==='devices'){
        this.services.Device.StopListeTelemetryRealtimeData(function(){},function(){});
        if(this.refreshDevicesId!==null){
          clearInterval(this.refreshTelemetryPollingId)
        }
      }

    },

    // Sort fetched devices
    sortDevices: function(){
      function compare(a,b) {

        return a.name.localeCompare(b.name);
      }

      this.devices.sort(compare);

    },
    // Methods for style selecting
    devicesselected : function(){
      return (this.selected === 'devices'); 
    },
    telemetryselected : function(){
      return (this.selected ==='telemetry');
    },

    // Inser / replace device in fetched devices array
    updateFetchedDevices(fetchedDevice){
      var newDevices = [];
      var exist = false;
      this.devices.forEach(device => { 
        if(device.name === fetchedDevice.name){
          exist = true;
          newDevices.push(fetchedDevice);
          return;
        }
        newDevices.push(device);
      });
      if(exist===false)
        newDevices.push(fetchedDevice);
      this.devices = newDevices;
    },

    // Standardize legacy device for telemetry
    standardizeLegacyDevice : function(device){
      var description = device.description;
      if(description==null||description==undefined){
        device.description = {};
        device.description.legacyexpboard = {};
        device.description.legacyexpboard.type = "sense";
        device.description.legacyexpboard.mesaures = {};
        device.description.legacyexpboard.mesaures.temp = {                 // 'temperature' mesaure real name
          min: 0,
          max: 100,
          step: 10,
          unit: "°C"
        };              
        device.description.legacyexpboard.mesaures.pres = {                 // 'pressure' mesaure real name 
          min:800,
          max:1200,
          step: 10,
          unit:"hPa"
        };               
        device.description.legacyexpboard.mesaures.hum = {                  // 'humidity' mesaure real name
          min:0,
          max:100,
          step: 10,
          unit:"%"
        };                

      }
    },
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
